---
name: Sample

status: release
spec_type: Profile
group: samples
use_cases_url: /useCases/Samples/
cross_walk_url: https://docs.google.com/spreadsheets/d/1NltFMzjqezpKhobmqEBEvASLziZjq73a_AqWnNi3IOs/
gh_tasks: https://github.com/BioSchemas/bioschemas/labels/type%3A%20Sample
live_deploy: /liveDeploys/

parent_type: BioChemEntity
hierarchy:
- Thing
- BioChemEntity

spec_mapping_url: https://docs.google.com/spreadsheets/d/18SOwk3gDGDOgC0Aym8X-0seCZIopv4pUMNKpzCheiJE/edit#gid=1261485211
spec_info:
  title: Sample
  subtitle: 'Bioschemas specification for describing Samples in the life-science.'
  description: 'To deliver on the identified use cases for samples, we have identified a minimal set of properties to encapsulate identification, linking, and metadata descriptions.
    Some of these properties are existing standard schema.org properties, others require Bioschemas extensions.  Table 1 outlines the minimal set of properties for the ‘Sample’ concept and
    Table 2 shows our recommendations for use of the ‘PropertyValue’ concept to markup additional characteristics of a sample described within a sample page. We also propose a new concept, ‘Biomedical Code’,
    which is a generalisation of the existing ‘Medical Code’ concept defined in the health-lifesci.schema.org extension.'
  version: 0.1
  version_date: 20180225T144349
  official_type: ""
  full_example: "https://gist.github.com/kcmcleod/bf09c3ce3d6916dea793d6c4e7a1087c"
mapping:
- property: additionalProperty
  expected_types:
  - PropertyValue
  description: 'A property-value pair representing an additional characteristics of
    the entitity, e.g. a product feature or another characteristic for which there
    is no matching property in schema.org. Note: Publishers should be aware that applications
    designed to use specific schema.org properties (e.g. http://schema.org/width,
    http://schema.org/color, http://schema.org/gtin13, ...) will typically expect
    such data to be provided using those properties, rather than using the generic
    property/value mechanism.'
  type: ""
  type_url: ""
  bsc_description: 'A property-value pair representing an additional characteristics
    of the entity, e.g. “Organism: Homo sapiens” or “tissue type: leaf”. For details
    of how to use [PropertyValue](http://bioschemas.org/specifications/Sample#PropertyValue)
    see below.'
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: dataset
  expected_types:
  - URL
  description: A dataset contained in this catalog.
  type: ""
  type_url: ""
  bsc_description: |-
    An access URL that provides a link to a dataset that contains data about this sample record.
    **Note:** Bioschemas has changed the Expected Type from [Dataset](http://schema.org/Dataset) to [URL](http://schema.org/URL).
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: description
  expected_types:
  - Text
  description: A description of the item.
  type: ""
  type_url: ""
  bsc_description: A description of the sample in free text. This should not contain
    information that could be better expressed as key/value pairs. These should be
    expressed using additionalProperty.
  marginality: Optional
  cardinality: ONE
  controlled_vocab: ""
  example: ""
- property: identifier
  expected_types:
  - PropertyValue
  - Text
  - URL
  description: The identifier property represents any kind of identifier for any kind
    of Thing, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated
    properties for representing many of these, either as textual strings or as URL
    (URI) links. See [background notes](http://schema.org/docs/datamodel.html#identifierBg)
    for more details.
  type: ""
  type_url: ""
  bsc_description: Unique sample IDs. Where possible this should be an identifiers.org
    compliant prefixed id e.g. a BioSamples ID biosample:SAME12345.
  marginality: Minimum
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: name
  expected_types:
  - Text
  description: The name of the item.
  type: ""
  type_url: ""
  bsc_description: A human readable name for the sample. This should not be an additional
    identifier. Additional identifiers should be added to the identifier field.
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: rdf:type
  expected_types:
  - URL
  description: ""
  type: external
  type_url: https://www.w3.org/1999/02/22-rdf-syntax-ns#type
  bsc_description: This is used by validation tools to indentify the profile used.
    You must use the value specified in the Controlled Vocabulary column.
  marginality: Minimum
  cardinality: ONE
  controlled_vocab: "[OBI:material sample]()"
  example: ""
- property: url
  expected_types:
  - URL
  description: URL of the item.
  type: ""
  type_url: ""
  bsc_description: An access URL for this sample, e.g., in BioSamples or in a Biobank
    or elsewhere.
  marginality: Recommended
  cardinality: ONE
  controlled_vocab: ""
  example: ""
---

<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  <div class="spec-table-wrapper">
                     {% include specification_table.html %}
                     <br />
                     <hr />
                     <br />
                     <h4 id="PropertyValueTable">PropertyValue</h4>
                     <table class="bioschemas_properties bsc_type bsc_type">
                        <thead>
                           <tr>
                              <th>Property</th>
                              <th>Expected Type</th>
                              <th>Description</th>
                              <th>CD</th>
                              <th>Controlled Vocabulary</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="cardinality">
                              <td colspan="5">
                                 Marginality: <b>Minimum</b>
                              </td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/name">name</a></th>
                              <td>
                                 <a href="http://schema.org/Text">Text</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: The name of the item.<br />
                                 <strong>Bioschemas</strong>: The name of the additional property. Otherwise known as a key or attribute.
                              <td>ONE</td>
                              <td></td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/value">value</a></th>
                              <td>
                                 <a href="http://schema.org/Boolean">Boolean</a><br />
                                 <a href="http://schema.org/Number">Number</a><br /><a href="http://schema.org/Text">Text</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: The value of the quantitative value or property value node.
                                 <ul>
                                 <li>For QuantitativeValue and MonetaryAmount, the recommended type for values is 'Number'.</li>
                                 <li>For PropertyValue, it can be 'Text;', 'Number', 'Boolean', or 'StructuredValue'.</li>
                                 <br />
                                 <strong>Bioschemas</strong>: Attribute value.<br />
                                 <u><strong>Note</strong></u>: Bioschemas have removed <a href="http://schema.org/StructuredValue">StructuredValue</a> from the Expected Types.
                              <td>ONE</td>
                              <td></td>
                           </tr>
                           <tr class="cardinality">
                              <td colspan="5">
                                 Marginality: <b>Recommended</b>
                              </td>
                           </tr>
                           <tr>
                              <th><a class="newBsc" href="http://schema.org/valueReference">valueReference</a></th>
                              <td>
                                 <a class="newBsc" href="#CategoryCodeTable">CategoryCode</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: A pointer to a secondary value that provides additional information on the original value, e.g. a reference temperature.<br />
                                 <strong>Bioschemas</strong>: Catagory code to enhance the value this could be a link to an ontology term in the Ontology Lookup Service.<br />
                                 <u><strong>Note</strong></u>: Bioschemas has added CategoryCode to the ExpectedTypes (of <a href="http://schema.org/valueReference">valueReference</a>) and removed
                                 <a href="http:schema.org/Enumeration">Enumeration</a>, <a href="http:schema.org/PropertyValue">PropertyValue</a>, <a href="http:schema.org/QualitativeValue">QualitativeValue</a>
                                 <a href="http:schema.org/QuantitativeValue">QuantitativeValue</a>, and <a href="http:schema.org/StructuredValue">StructuredValue</a>.
                              </td>
                              <td>MANY</td>
                              <td></td>
                           </tr>
                           <tr class="cardinality">
                              <td colspan="5">
                                 Marginality: <b>Optional</b>
                              </td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/unitCode">unitCode</a></th>
                              <td>
                                 <a href="http://schema.org/Text">Text</a><br /><a href="http://schema.org/URL">URL</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: The unit of measurement given using the UN/CEFACT Common Code (3 characters) or a URL. Other codes than the UN/CEFACT Common Code may be used with a prefix followed by a colon.
                              </td>
                              <td>ONE</td>
                              <td></td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/unitText">unitText</a></th>
                              <td>
                                 <a href="http://schema.org/Text">Text</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: A string or text indicating the unit of measurement. Useful if you cannot provide a standard unit code for unitCode.
                              </td>
                              <td>ONE</td>
                              <td></td>
                           </tr>
                        </tbody>
                     </table>
                     <br />
                     <hr />
                     <br />
                     <h4 id="CategoryCodeTable">CategoryCode</h4>
                     <table class="bioschemas_properties bsc_type">
                        <thead>
                           <tr>
                              <th>Property</th>
                              <th>Expected Type</th>
                              <th>Description</th>
                              <th>CD</th>
                              <th>Controlled Vocabulary</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr class="cardinality">
                              <td colspan="5">
                                 Marginality: <b>Minimum</b>
                              </td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/name">name</a></th>
                              <td>
                                 <a href="http://schema.org/Text">Text</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: The name of the item.<br />
                                 <strong>Bioschemas</strong>: A human readable label.
                              <td>MANY</td>
                              <td></td>
                           </tr>
                           <tr>
                              <th><a class="pending" href="http://pending.schema.org/codeValue">codeValue</a></th>
                              <td>
                                 <a href="http://schema.org/Text">Text</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: A short textual code that uniquely identifies the value.
                              <td>MANY</td>
                              <td></td>
                           </tr>
                           <tr>
                              <th><a href="http://schema.org/url">url</a></th>
                              <td>
                                 <a href="http://schema.org/URL">URL</a>
                              </td>
                              <td>
                                 <strong>Schema</strong>: URL of the item.<br />
                                 <strong>Bioschemas</strong>: The URI for the vocabulary code.
                              </td>
                              <td>MANY</td>
                              <td></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>
