---
layout: default
title: Live Deploys
description: |-
    Below we list the services/sites that use [Bioschemas](http://bioschemas.org) markup to describe what they are offering. We provide a direct link to the site and also a link to Google's [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) visualisation of the site's markup.
    The link to Google’s SDTT shows one example from the site; however, many more may exist. For example, Biosamples have marked up all of their content (currently over 5 million samples).
    Please remember that Google sets minimum requirements for [schema.org](http://schema.org) markup, which may conflict with those of [Bioschemas](http://bioschemas.org). As such, Google's [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) may provide warnings or errors when the markup is perfectly compliant with both [schema.org](http://schema.org) and [Bioschemas](http://bioschemas.org).
    If your Bioschemas compliant site is not listed below, please email us at [community@bioschemas.org](mailto:community@bioschemas.org).
---
<div class="live-deploys">

    <h1>Live deploys</h1>
    <p>{{page.description | markdownify}}</p>
    <br>
    {% assign liveDeploys = site.liveDeploys | where:"name", 'Live Deploys' | first %}
    {% assign candidates = site.liveDeploys | where:"name", 'Candidates' | first %}
    <div class="container-flow">
        <div class="row">

            <div class="col-md-8">
    <section class="live-deploy-table">
        <h5>{{liveDeploys.description}}</h5>
        <p><strong>{{liveDeploys.list | size}}</strong> resources using Bioschemas.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Profile Version</th>
                    <th class="structured-data-column">Structured Data Testing Tool</th>
                </tr>
            </thead>
            <tbody>
            {% assign profiles = liveDeploys.list | group_by: 'bsc_profile' | sort: 'name' %}
            {% for profile in profiles %}
            {% assign profile_index = forloop.index %}
            {% if profile_index == 1%}
            <tr class="profile-row" style="cursor: pointer;" data-toggle="collapse" data-target=".collapse{{profile.name}}" aria-expanded="true" aria-controls="collapse{{profile.name}}">
                <td colspan="3">
                    <div class="repo-count"><strong>{{profile.items | size}}</strong></div>
                    {% if profile.name == "LabProtocol" or profile.name == "DataRecord" or profile.name == "BioChemEntity" %}
                    <a href="/types/{{profile.name}}" target="_blank">{{profile.name}}</a><br>
                    {% else %}
                    <a href="/specifications/{{profile.name}}" target="_blank">{{profile.name}}</a><br>
                    {% endif %}
                    <div class="plus-icon"><i class="fas fa-minus fa-lg"></i></div>
                </td>
            </tr>
            {% else %}
            <tr class="profile-row collapsed" style="cursor: pointer;" data-toggle="collapse" data-target=".collapse{{profile.name}}" aria-expanded="false" aria-controls="collapse{{profile.name}}">
                <td colspan="3">
                    <div class="repo-count"><strong>{{profile.items | size}}</strong></div>
                    {% if profile.name == "LabProtocol" or profile.name == "DataRecord" or profile.name == "BioChemEntity" %}
                    <a href="/types/{{profile.name}}" target="_blank">{{profile.name}}</a><br>
                    {% else %}
                    <a href="/specifications/{{profile.name}}" target="_blank">{{profile.name}}</a><br>
                    {% endif %}
                    <div class="plus-icon"><i class="fas fa-plus fa-lg"></i></div>
                </td>
            </tr>
            {% endif %}
            {% assign live_sorted_list = profile.items | sort: 'name' %}
            {% for live in live_sorted_list %}
            <tr>
                <td class="deploy-name-column hidden-row">
                    {% if profile_index == 1%}
                    <div class="collapse show collapse{{profile.name}}">
                    {% else %}
                    <div class="collapse collapse{{profile.name}}">
                    {% endif %}
                        <a href="{{live.resource_URL}}" target="_blank">{{live.name}}</a>
                        <p>{{live.highlight}}</p>
                    </div>
                </td>
                <td class="profile-version hidden-row">
                    {% if profile_index == 1%}
                    <div class="collapse show collapse{{profile.name}}">
                    {% else %}
                    <div class="collapse collapse{{profile.name}}">
                    {% endif %}
                    {{live.bsc_ver}}
                    </div>
                </td>
                <td class="structured-data-column hidden-row">
                    {% if live.example_URL != nil %}
                    {% if profile_index == 1%}
                    <div class="collapse show collapse{{profile.name}}">
                    {% else %}
                    <div class="collapse collapse{{profile.name}}">
                    {% endif %}
                    <div class="google-sdtt-button">
                        <span class="tooltiptext">Visualise on GTest tool</span>
                        <a href="https://search.google.com/structured-data/testing-tool#url={{live.example_URL}}" class="btn btn-bioschema btn-block" target="_blank">visualise</a>
                    </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </section>
  </div>

  <div class="col-md-4 right-column">

      <section>
        <h3>Deployment Stories</h3>
          {% assign sorted_stories = (site.stories | sort: 'date-added' | reverse ) %}
          {% for story in sorted_stories %}
          <div class="deployment-story">
              <strong><a href="{{ story.external-url }}">{{ story.name }}</a></strong>
              <p> <strong>{{ story.date-added }}</strong> </p>
              <ul>
                {% for spec in story.specs %}
                  <li><a href="/specifications/{{ spec }}">{{ spec }}</a></li>
                {% endfor %}
              </ul>
              <p>
                {{ story.description }}
              </p>
          </div>
          {% endfor %}
        </section>
    </div>
  </div>
    <blockquote>
        <h6>Note:</h6>
        As we do not maintain the websites listed above we can not guarantee the list is up to date, the sites are live and feature appropriate content or the links work.
        <p>Help us keep it updated: <a href="/howtojoin/">Join</a> the community and/or create a pull request on the <a href="https://github.com/BioSchemas/bioschemas.github.io">bioschemas github</a> community project.</p>
    </blockquote>
</div>
