---
redirect_from:
- "devSpecs/Journal/specification"
- "devSpecs/Journal/specification/"
- "/devSpecs/Journal/"
- "/specifications/drafts/Journal"
- "/profiles/Journal/"

name: Journal

previous_version: '0.1-DRAFT-2019_11_21'
previous_release:

status: revision
spec_type: Profile
group: publications
use_cases_url: /useCases/ScholarlyPublications/
cross_walk_url: https://docs.google.com/spreadsheets/d/1FM0-KW6MI3_-yvDUI_oZ8D5vR8muvmR9RHm7Ocd6YdU/
gh_tasks: https://github.com/BioSchemas/specifications/labels/profile%3A%20Journal
live_deploy: ''

parent_type: Periodical
hierarchy:
- Thing
- CreativeWork
- CreativeWorkSeries


spec_info:
  title: Journal
  subtitle: Bioschemas profile, based on Biotea model, describing a Journal in Life
    Sciences.
  description: 'A Journal is a collection of publication issues, publication volumes
    or scholarly articles, or possibly, although no commonly, any mix from those mentioned.
    <h4>Summary of Changes</h4>    Changes since previous draft 0.1 Journal profile:    <ul>      <li>Add
    examples</li>      <li>Keywords range updated as per changes on schema.org</li>    </ul>'
  version: 0.2-DRAFT-2020_12_03
  version_date: 20201207T144107
  official_type: schema:Collection
  full_example: https://github.com/BioSchemas/specifications/blob/master/Journal/examples/0.2-DRAFT/jbiomedsem.json
mapping:
- property: about
  expected_types:
  - Thing
  description: |-
    The subject matter of the content.
     Inverse property: subjectOf.
  type: ""
  type_url: ""
  bsc_description: Describes what this Journal is about.
  marginality: Optional
  cardinality: ONE
  controlled_vocab: ""
  example: '"about": "Journal of Biomedical Semantics addresses issues of semantic
    enrichment and semantic processing in the biomedical domain..."'
- property: alternateName
  expected_types:
  - Text
  description: An alias for the item.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: editor
  expected_types:
  - Person
  description: Specifies the Person who edited the CreativeWork.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: |-
    "editor": [
      {
        "@type": "Person",
        "givenName": "Dietrich",
        "familyName": "Rebholz-Schuhmann"
      }
    ]
- property: hasPart
  expected_types:
  - PublicationIssue
  - PublicationVolume
  - ScholarlyArticle
  description: |-
    Indicates an item or CreativeWork that is part of this item, or CreativeWork (in some sense).
     Inverse property: isPartOf.
  type: ""
  type_url: ""
  bsc_description: "A Journal has part a PublicationVolume or PublicationIssue or
    \nScholaryArticle. We recommend to at least include the highest level \n'hasPart',
    e.g., PublicationVolume. It is also possible, i.e., optional,\n to 'hasPart' to
    link as well directly to PublicationIssue and \nScholarlyArticle, making it easier
    to find articles in this journal."
  marginality: Recommended
  cardinality: MANY
  controlled_vocab: ""
  example: |-
    "hasPart": [
      {"@id": "https://doi.org/10.1186/2041-1480-4-s1-s5"},
      {
        "@type": "PublicationVolume",
        "url": "https://jbiomedsem.biomedcentral.com/articles/supplements/volume-4-supplement-1",
        "volumeNumber": "Volume 4 supplement 1"
      }
    ]
- property: identifier
  expected_types:
  - PropertyValue
  - Text
  - URL
  description: The identifier property represents any kind of identifier for any kind
    of Thing, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated
    properties for representing many of these, either as textual strings or as URL
    (URI) links. See [background notes](http://schema.org/docs/datamodel.html#identifierBg)
    for more details.
  type: ""
  type_url: ""
  bsc_description: 'Journals are commonly identified by their issn. We recommend to
    use here the form namespace:id. For instance, issn:2041-1480. '
  marginality: Minimum
  cardinality: ONE
  controlled_vocab: ""
  example: '"identifier": "issn:2041-1480"'
- property: inLanguage
  expected_types:
  - Language
  - Text
  description: The language of the content or performance or used in an action. Please
    use one of the language codes from the IETF BCP 47 standard. See also availableLanguage.
    Supersedes language.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: isAccessibleForFree
  expected_types:
  - Boolean
  description: A flag to signal that the item, event, or place is accessible for free.
    Supersedes free.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Recommended
  cardinality: ONE
  controlled_vocab: ""
  example: '"isAccessibleForFree": true'
- property: keywords
  expected_types:
  - DefinedTerm
  - Text
  - URL
  description: Keywords or tags used to describe this content. Multiple entries in
    a keywords list are typically delimited by commas.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Recommended
  cardinality: ONE
  controlled_vocab: ""
  example: '"keywords": "Biomedical semantics, semantic web, RDF, ontologies, linked
    data"'
- property: license
  expected_types:
  - CreativeWork
  - URL
  description: A license document that applies to this content, typically indicated
    by URL.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Recommended
  cardinality: ONE
  controlled_vocab: ""
  example: '"license": "https://www.biomedcentral.com/about/policies/license-agreement"'
- property: name
  expected_types:
  - Text
  description: The name of the item.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Minimum
  cardinality: ONE
  controlled_vocab: ""
  example: '"name": "Journal of Biomedical Semantics"'
- property: publisher
  expected_types:
  - Organization
  - Person
  description: The publisher of the creative work.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Recommended
  cardinality: MANY
  controlled_vocab: ""
  example: |-
    "publisher": [
      {
        "@type": "Organization",
        "name": "BMC BioMedCentral",
        "url": "https://www.biomedcentral.com"
      }
    ]
- property: publishingPrinciples
  expected_types:
  - CreativeWork
  - URL
  description: |-
    The publishingPrinciples property indicates (typically via URL) a document describing the editorial principles of an Organization (or individual e.g. a Person writing a blog) that relate to their activities as a publisher, e.g. ethics or diversity policies. When applied to a CreativeWork (e.g. NewsArticle) the principles are those of the party primarily responsible for the creation of the CreativeWork.

     While such policies are most typically expressed in natural language, sometimes related information (e.g. indicating a funder) can be expressed using schema.org terminology.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Optional
  cardinality: ONE
  controlled_vocab: ""
  example: '"publishingPrinciples": "https://jbiomedsem.biomedcentral.com/submission-guidelines"'
- property: sameAs
  expected_types:
  - URL
  description: URL of a reference Web page that unambiguously indicates the item's
    identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official
    website.
  type: ""
  type_url: ""
  bsc_description: Any other URL linking to this Journal, preferrable in machine-readable
    format.
  marginality: Optional
  cardinality: MANY
  controlled_vocab: ""
  example: ""
- property: url
  expected_types:
  - URL
  description: URL of the item.
  type: ""
  type_url: ""
  bsc_description: Official URL.
  marginality: Recommended
  cardinality: ONE
  controlled_vocab: ""
  example: '"url": "https://jbiomedsem.biomedcentral.com/"'

---

<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  {% include specification_table.html %}
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>
