---
layout: default
redirect_from:
- "/types/drafts/Protein/"

previous_version: '0.3-RELEASE-2019_09_02'
previous_release: '0.3-RELEASE-2019_09_02'

dateModified: 2021-06-10
hierarchy:
- Thing
- BioChemEntity
gh_tasks: https://github.com/Bioschemas/specifications/labels/type%3A%20Protein
group: proteins
name: Protein
parent_type: BioChemEntity
spec_type: Type
status: release #[release | revision]
version: '0.3-RELEASE'

bsc: #0B794B;
pending: #0000CC;
external: #454547;

---
{% assign properties = site.data.types.Protein-0_3-RELEASE | sort_natural: "id" %}

{% include type_start.html %}

{% include type_rows.html type = "Protein" type-version = page.version %}

{% assign properties = site.data.types.BioChemEntity-0_7-RELEASE | sort_natural: "id" %}
{% include type_rows.html type = "BioChemEntity" type-version = "0.7-RELEASE" %}

{% include type_rows.html type = "Thing" %}

{% include type_end.html %}
