---
previous_version:
previous_release:

dateModified: 2020-07-21
description: "A FormalParameter is an identified variable used to stand for the actual value(s) that are consumed/produced by a set of steps"
hierarchy:
- Thing
- Intangible
gh_tasks: https://github.com/Bioschemas/specifications/labels/type%3A%20Workflow
group: workflow
name: FormalParameter
parent_type: Intangible
spec_type: Type
status: revision
version: '0.1-DRAFT-2020_07_21'

bsc: #0B794B;
pending: #0000CC;
external: #454547;

---

<!DOCTYPE HTML>
<html>
   {% include head.html %}

   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
        <div class="wrapper">
           <div id="main-content-wrapper" class="outer">
              <section id="main_content" class="inner">
                {% include type-start.html %}

<table class="definition-table bsc_type">
        <thead>
  <tr><th>Property</th><th>Expected Type</th><th>Description</th>               
  </tr>
  </thead>

<tr class="supertype">
     <th class="supertype-name" colspan="3">Properties from <a title="Defined in extension: bio.schema.org"  class="ext ext-bio"  href="/FormalParameter">FormalParameter</a></th>
  
</tr>

<tbody class="supertype">
  <tr typeof="rdfs:Property" resource="http://schema.org/defaultValue">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/defaultValue">defaultValue</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/Thing" /><a   href="http://schema.org/Thing">Thing</a>&nbsp;<link property="domainIncludes" href="http://schema.org/FormalParameter"><link property="domainIncludes" href="http://schema.org/PropertyValueSpecification"></td><td class="prop-desc" property="rdfs:comment">The default value of the input.  For properties that expect a literal, the default is a literal value, for properties that expect an object, it's an ID reference to one of the current values.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/encodingFormat">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/encodingFormat">encodingFormat</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/CreativeWork"><link property="domainIncludes" href="http://schema.org/FormalParameter"><link property="domainIncludes" href="http://schema.org/MediaObject"></td><td class="prop-desc" property="rdfs:comment">Media type typically expressed using a MIME format (see <a href="http://www.iana.org/assignments/media-types/media-types.xhtml">IANA site</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types">MDN reference</a>) e.g. application/zip for a SoftwareApplication binary, audio/mpeg for .mp3 etc.).<br/><br/>

In cases where a <a class="localLink" href="http://schema.org/CreativeWork">CreativeWork</a> has several media type representations, <a class="localLink" href="http://schema.org/encoding">encoding</a> can be used to indicate each <a class="localLink" href="http://schema.org/MediaObject">MediaObject</a> alongside particular <a class="localLink" href="http://schema.org/encodingFormat">encodingFormat</a> information.<br/><br/>

Unregistered or niche encoding and file formats can be indicated instead via the most appropriate URL, e.g. defining Web page or a Wikipedia/Wikidata entry. Supersedes <a   href="http://schema.org/fileFormat">fileFormat</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/valueRequired">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/valueRequired">valueRequired</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Boolean" /><a   href="http://schema.org/Boolean">Boolean</a>&nbsp;<link property="domainIncludes" href="http://schema.org/FormalParameter"><link property="domainIncludes" href="http://schema.org/PropertyValueSpecification"></td><td class="prop-desc" property="rdfs:comment">Whether the input/output must be specified Whether the property must be filled in to complete the action.  Default is false.</td></tr><tr class="supertype">
     <th class="supertype-name" colspan="3">Properties from <a   href="http://schema.org/Thing">Thing</a></th>
  
</tr>

<tbody class="supertype">
  <tr typeof="rdfs:Property" resource="http://schema.org/additionalType">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/additionalType">additionalType</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An additional type for the item, typically used for adding more specific types from external vocabularies in microdata syntax. This is a relationship between something and a class that the thing is in. In RDFa syntax, it is better to use the native RDFa syntax - the 'typeof' attribute - for multiple types. Schema.org tools may have only weaker understanding of extra types, in particular those defined externally.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/alternateName">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/alternateName">alternateName</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An alias for the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/description">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/description">description</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A description of the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/disambiguatingDescription">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/disambiguatingDescription">disambiguatingDescription</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A sub property of description. A short description of the item used to disambiguate from other, similar items. Information from other properties (in particular, name) may be necessary for the description to be useful for disambiguation.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/identifier">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/identifier">identifier</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/PropertyValue" /><a   href="http://schema.org/PropertyValue">PropertyValue</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">The identifier property represents any kind of identifier for any kind of <a class="localLink" href="http://schema.org/Thing">Thing</a>, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated properties for representing many of these, either as textual strings or as URL (URI) links. See <a href="/docs/datamodel.html#identifierBg">background notes</a> for more details.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/image">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/image">image</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/ImageObject" /><a   href="http://schema.org/ImageObject">ImageObject</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An image of the item. This can be a <a class="localLink" href="http://schema.org/URL">URL</a> or a fully described <a class="localLink" href="http://schema.org/ImageObject">ImageObject</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/mainEntityOfPage">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/mainEntityOfPage">mainEntityOfPage</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/CreativeWork" /><a   href="http://schema.org/CreativeWork">CreativeWork</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">Indicates a page (or other CreativeWork) for which this thing is the main entity being described. See <a href="/docs/datamodel.html#mainEntityBackground">background notes</a> for details.<br/> Inverse property: <a   href="http://schema.org/mainEntity">mainEntity</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/name">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/name">name</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">The name of the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/potentialAction">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/potentialAction">potentialAction</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Action" /><a   href="http://schema.org/Action">Action</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">Indicates a potential Action, which describes an idealized action in which this thing would play an 'object' role.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/sameAs">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/sameAs">sameAs</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/subjectOf">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/subjectOf">subjectOf</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/CreativeWork" /><a   href="http://schema.org/CreativeWork">CreativeWork</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/Event" /><a   href="http://schema.org/Event">Event</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A CreativeWork or Event about this Thing.<br/> Inverse property: <a   href="http://schema.org/about">about</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/url">
    
      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.org/url">url</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.org/URL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">URL of the item.</td></tr>

</table>

               </section>
             </div>
           </div>
      </div>
      {% include footer.html %}



   </body>
</html>
