---
redirect_from:
- projects/
- review/
- examples/
- about/
layout: default
---
<div id="landing" itemscope itemtype="http://schema.org/Organization">
   <meta itemprop="logo" content="http://bioschemas.org/images/square_logo2.png"/>
   <meta itemprop="url" content="http://bioschemas.org"/>
   <meta itemprop="email" content="enquiries@bioschemas.org"/>
   <meta itemprop="name" content="Bioschemas Community"/>


    <div class="container-flow">
        <div class="alert alert-success" role="alert">
            <i class="fas fa-exclamation-circle"></i>   Welcoming applications for the <a href="https://www.elixir-europe.org/platforms/interoperability/rfp-bioschemas" class="alert-link">ELIXIR Bioschemas Travel Grants and Staff Exchange Programme</a>.<br/>
            <em>Travel grant applications for the Face-to-Face meeting are being accepted until 24 April 2019.</em>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h1>What is Bioschemas?</h1>
                <p>Bioschemas aims to improve the Findability of data in the life sciences. It does this by encouraging people in the life sciences to use Schema.org markup in their websites so that they are indexable by search engines and other services. Bioschemas encourages the consistent use of markup to ease the consumption of the contained markup across many sites. This structured information then makes it easier to discover, collate, and analyse distributed data.
                </p>
                <p>Bioschemas is making two main contributions:</p>
                <ol>
                  <li>Proposing <a href="/types">new types and properties</a> to Schema.org to allow for the description of life science resources.</li>
                  <li><a href="/specifications">Profiles</a> over the Schema.org types that identify the essential properties to use in describing a resource.</li>
                </ol>
                <p>
                Bioschemas started as a community effort in November 2015. It operates as an open community initiative with <a href="/people/">representatives</a> from a wide variety of institutions. You are welcome to <a href="/howtojoin/">join the community</a>.</p>

                <h2>Schema.org</h2>
                <p>
                  <a href="https://schema.org">Schema.org</a> is a community effort supported by the main search engines, and is already widely implemented across the web.
                </p>
                <p>
                Schema.org provides a way to add semantic markup to web pages. It describes ‘types’ of information, which then have ‘properties’. The types are things that we can talk about and the properties are the things that we can say about the type.
                For example, <a href="https://schema.org/Event">Event</a> is a type that has properties like <a href="https://schema.org/startDate">startDate</a>, <a href="https://schema.org/endDate">endDate</a>, and <a href="https://schema.org/description">description</a>.</p>
                <p>If types or properties needed in the life sciences are missing, then Bioschemas is developing proposals for <a href="/types">new types and properties</a> to be included into Schema.org.
                </p>

                <h2>Bioschema Profiles</h2>
                <p>To simplify the marking up of web resources, and to provide consistency of markup within the life sciences community, Bioschemas are defining <a href="/specifications">profiles</a> over types that state which properties must be used (minimum), should be used (recommended), and could be used (optional). The profiles also state the cardinality of usage of a property, and identify domain ontologies to use for the value of properties.</p>

                <p>For example, if we look at the <a href="https://schema.org/Dataset">schema.org/Dataset</a> type there are over 90 properties available to use. The <a href="/specifications/Dataset/"> Bioschemas profile over Dataset</a> brings this down to a more manageable number, with 5 mandatory properties and 8 recommended properties. Many of the other properties have little relevance for a Dataset. The dataset markup properties that Bioschemas specifies as mandatory will also make them findable by <a href="/software/index.html#googleDatasetSearch">Google's Dataset Search tool</a>.</p>

                <p>The Bioschemas community are defining profiles over relevant existing Schema.org types, e.g. <a href="/specifications/DataCatalog/">DataCatalog</a>, <a href="/specifications/drafts/Course/">Course</a>, and <a href="/specifications/Tool/">SoftwareApplication</a>, and over the new types being defined for the life sciences, e.g. <a href="/specifications/Gene/">Gene</a>, <a href="/specifications/Protein/">Protein</a>, <a href="/specifications/Taxon/">Taxon</a>.</p>

                <h2>Funding</h2>
                <p>
                  The Bioschemas Community have received funding through the ELIXIR-EXCELERATE grant and ELIXIR Implementation Studies. Full details of funding can be on our <a href="/funders/">funding page</a>.
                </p>
                <img style="max-width: 60%;" src="/images/excelerate_whitebackground.png"/>
                <img style="max-width: 30%; float: right;" src="/images/Elixir-logo.png"/>
            </div>

            <div class="col-md-4 right-column">

                <section class="upcoming-events">
                    <h3>Upcoming events</h3>
                    {% assign sorted_meetings = site.meetings | sort: 'start_date' %}
                    {% assign count = 0 %}
                    {% for meeting in sorted_meetings %}
                    {% assign currentDate = site.time | date: '%F' %}
                    {% assign meetingDate = meeting.start_date | date: '%F' %}
                    {% assign endDate = meeting.end_date | date: '%F' %}
                    {% if currentDate <= meetingDate %}
                    <div class="event" itemscope itemtype="http://schema.org/Event">
                        <strong><a href="{{ meeting.url }}"><span class="title" itemprop="name">{{ meeting.name}}</span></a></strong>{% if meeting.tbc %} <span class="badge badge-warning">TBC</span>{% endif %}
                        <p> <strong>{{ meeting.dates }}</strong> </p>
                        <p>
                            <span itemprop="location">{{ meeting.venue }}</span>
                        </p>
                        <meta itemprop="startDate" content="{{meeting.start_date}}"/>
                        <meta itemprop="endDate" content="{{ meeting.end_date }}"/>
                    </div class="event">
                    {% assign count = count | plus: 1 %}
                    {% elsif meetingDate <= currentDate and currentDate <= endDate %}
                    <div class="event" itemscope itemtype="http://schema.org/Event">
                        <strong><a href="{{ meeting.url }}"><span itemprop="name">{{ meeting.name}}</span></a></strong>{% if meeting.tbc %} <span class="badge badge-warning">TBC</span>{% endif %}
                        <p> <strong>{{ meeting.dates }}</strong> </p>
                        <p>
                            <span itemprop="location">{{ meeting.venue }}</span>
                        </p>
                        <meta itemprop="startDate" content="{{meeting.start_date}}"/>
                        <meta itemprop="endDate" content="{{ meeting.end_date }}"/>
                    </div class="event">
                    {% assign count = count | plus: 1 %}
                    {% endif %}

                    {% if count == 3 %}
                    {% break %}
                    {% endif %}
                    {% endfor %}
                </section>
                <hr>
                <section>
                    <h3>Latest presentation</h3>
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/sRoUvGXRHImUld" width="425" height="355" frameborder="0" marginwidth="0"
                        marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
                    </iframe>
                    <div style="margin-bottom:5px">
                        <strong>
                            <a href="//www.slideshare.net/bioschemas/bioschemas-overview-113770499" title="Bioschemas overview"
                                target="_blank">Bioschemas overview</a>
                        </strong> from
                        <strong>
                            <a href="//www.slideshare.net/bioschemas" target="_blank">Bioschemas</a>
                        </strong>
                    </div>
                </section>
                <hr>
                <section>
                	<a class="twitter-timeline" data-height="450" data-theme="light" data-link-color="#2BB673" href="https://twitter.com/BioSchemas?ref_src=twsrc%5Etfw">Tweets by BioSchemas</a>
                	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </section>
            </div>
        </div>
    </div>
</div>
