---
name: Data Repositories
group: datarepositories
collection: useCases
active: true
---

<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                 <h1>Use Cases for {{page.name}}</h1>
                 {% assign group = site.groups | where:"identifier", page.group %}
                 {% for g in group %}
                 <p>The following use cases were developed by the <a href="{{g.url}}">{{ g.name }}</a> group.
                 {% endfor %}

                 <h3>Data entity Identifiers</h3>
                 <ol>
                   <li>If the identifier resolution is broken we need to know who to contact.</li>
                   <li>Data repositories might change their identifier pattern. Resolution services do not have a way to know about these changes.  Identifiers.org needs to know about these changes in order to resolve new patterns (n2t.net does not need to know about changes in order to resolve new patterns).</li>
                   <li>For ids that are meant to resolve, need to check if the service is running with a test identifier.</li>
                 </ol>

                 <h3>Release</h3>
                 <ol>
                   <li>Services integrating data (e.g. Intermine) need to know when new data is updated.</li>
                   <li>Data analysis, e.g. genomic data analysis needs stable archives to allow comparison and translation of datasets.</li>
                   <li>As a data integrator I need to know the license of the data to know how I can use the data.</li>
                 </ol>

                 <h3>Search and Browse</h3>
                 <ol>
                   <li>To know what the resource is called, address etc. And to increase consistency in the data.</li>
                   <li>As a researcher I would like to find all the data repositories providing molecular interactions information for a specific species.</li>
                 </ol>

                 <h3>Data Access/Interfaces</h3>
                 <ol>
                   <li>eg. intermine needs to know where to download data or where to find the programatic interfaces to access data. I need to know if there is any change in the structure of these interfaces.</li>
                 </ol>

                 <h3>Citation</h3>
                 <ol>
                   <li>I am a researcher and I want to acknowledge I am using a data repository. How should I cite the repository?</li>
                 </ol>

                 <h3>Data provenance</h3>
                 <ol>
                   <li>Capture the interdependencies between databases - where does the data come from?</li>
                 </ol>

                 <h3>Type</h3>
                 <ol>
                   <li>Knowledgebase or Archive? Maybe other types? Distinction between Knowledge Base and database (CG insists the best inspiration is to follow EXCELERATE approach)</li>
                 </ol>

                 <h3>Formats</h3>
                 <ol>
                   <li>What standards (including versions) are used in the database? Ideally referencing the BioSharing format in the URL.</li>
                 </ol>

                 <h3>Metric</h3>
                 <ol>
                   <li>User wants to know content statistics, data turnover, usage statistics (community adoption).</li>
                 </ol>

                 <h3>Tools</h3>
                 <ol>
                   <li>People want to know what tools are available and how to access them.</li>
                 </ol>

                 <h3>Data repository identifier</h3>
                 <ol>
                   <li>I need a way to reference the data resource using an identifier. Ideally this identifier should be assign by identifier.org.</li>
                 </ol>

                 <h3>Datasets</h3>
                 <ol>
                   <li>What are the data collections of data (datasets eg: predicted:trembl and curated:uniprot in uniprot) available in a data repository?</li>
                 </ol>
               </section>
            </div>
        </div>
    </div>
    {% include footer.html %}

    
    
    

    </body>

    </html>
