---
name: Persons
group: persons
collection: useCases
active: true
---

<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                 <h1>Use Cases for {{page.name}}</h1>
                 {% assign group = site.groups | where:"identifier", page.group %}
                 {% for g in group %}
                 <p>The following use cases were developed by the <a href="{{g.url}}">{{ g.name }}</a> group.
                 {% endfor %}

                 <p>There is a wealth of descriptive information about people distributed across the web. Within the life science community, profiles of people can be found on institutional pages, project pages, community sites, repositories, and wikis amongst other online resources. These profiles often contain assortments of facts about people and their relationships to organizations and projects, such as biographic text, curriculum vitaes, positions held, roles, expertise, contact information, education, or photographs. Due to the heterogeneous nature of web pages and the differences in the terms used to describe profile information; search engines face difficulties interpreting profile pages to usefully expose facts in search results. For profiles of people in life sciences, there is also a lack of agreement on a common controlled vocabulary to define people’s skill and expertise.</p>
               </section>
            </div>
        </div>
    </div>
    {% include footer.html %}

    
    
    

    </body>

    </html>
