---
name: Training Materials, Course and CourseInstance
group: training
collection: useCases
active: true
redirect_from: 
- useCases/TrainingGroup/
- useCases/Course/
- useCases/CourseInstance/
---
<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  <h1>Use Cases for {{page.name}}</h1>
                  {% assign group = site.groups | where:"identifier", page.group %}
                  {% for g in group %}
                  <p>The following use cases were developed by the <a href="{{g.url}}">{{ g.name }}</a> group.
                     {% endfor %}
                  <p>These use cases apply to the following training profiles: Course, CourseInstance and 
                     TrainingMaterial. We distinguish two main users for these profiles: a learner user 
                     (someone who wants to learn something) and a trainer user 
                     (someone who wants to teach something).
                  </p>
                  <h2>Findability</h2>
                  <p>
                     As a learner user, I would like to find as many courses and associated offerings and training materials as possible matching the keywords associated with my topic of interest.
                  </p>
                  <p>
                     As a trainer user, I would like to find as many courses and training materials as possible matching the keywords associated with my topic of interest.
                  </p>
                  <h2>Summarization</h2>
                  <p>
                     As a learner user, when I look for a course on a specific topic of interest, I would like to get the name of the course and a brief description of it. Additionally, I would like to learn what the course is about, what the prerequisites are, the skill level I am expected to have, its learning objectives, who is offering the course, how long the course runs for and if it has any instances.
                  </p>
                  <p>
                     On my specific topic of interest, I would also like to get information on instances of the course including the delivery format and location of the course instance. Additionally, I would also like to know when the course instance starts and ends, whether there is a fee to attend, the maximum number of attendees in the course instance, the language it is being taught in, who will be my instructors and a link to the course instance. Ideally the course instance would also show me what training materials are part of the course instance.
                  </p>
                  <p>
                     As a learner user having identified a suitable course instance relevant to my specific topic of interest, I would then like to get the training materials associated with my course instance. For each training material I would like to know its title and a brief description of the training material. Additionally, I would also like to know what the training material teaches me about, who the author is, the language it is presented in, who the anticipated audience is and the skill level I am expected to have to use the training material. I want to know the time required to go through the training material and have a link to the training material. Ideally the training material would also inform me when it was last updated.
                  </p>
                  <p>
                     As a trainer user I develop courses so when I look for a course on a specific topic of interest I want to know: what such courses are about, what the prerequisites are, the skill level expected in such courses, the learning objectives of such courses, who offers such courses, and how long courses run for. I also want to know if there is a license associated with the course so I can build on top of it.
                  </p>
                  <p>
                     As a trainer user having identified courses relevant to my specific topic of interest, I then want to get structural details on instances of the course including: the delivery format, whether there is a fee to attend, who is delivering the course instance and in what language, who is organizing and who is funding the course instance, and a link to the course instance. I also want to learn about when instances of the course are offered. Ideally the course instance would also direct me to the training materials associated with the course instance.
                  </p>
                  <p>
                     As a trainer user when I look for training material on a specific topic of interest, I would like to get the title and a brief description of the training material. Additionally, I would also like to know what the license is on the training material, the document type, the language it is presented in, when it was last updated and the link to the training material. I also want to identify what the learning objectives are for the training material, who the author is, who the anticipated audience is and the skill level expected for users of the training material, and the time required to go through the training material.
                  </p>
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
      
      
      
   </body>
</html>