---
layout: default
title: Draft BioSchemas Types
redirect_from:
 - "/devTypes/"
---

<h1>Draft Bioschemas Types
<div class="git-edit" style="float: right;">
<a target="_blank" href="mailto:leylajael@gmail.com,a.j.g.gray@hw.ac.uk,carolegoble@gmail.com?subject=[Bioschemas] request to create a new type" class="btn btn-bioschema btn-sm" role="button">
<b>Propose a new type</b></a></div>
</h1>
<p>The types on this page are a work in progress. We would be delighted to receive your comments on these specifications either through the mailing list
    (<a href="mailto:public-bioschemas@w3.org" itemprop="email">public-bioschemas@w3.org</a>) or via our <a href="https://github.com/BioSchemas/specifications/issues">GitHub issue tracker</a>.</p>
<p>The set of types that have reached release candidate status can be found on the <a href="/types">types page</a>.</p>

<h2>Types</h2>
<p>Schema.org describes ‘types’ of information, which then have ‘properties’. The types are things that we can talk about and the properties are the things that we can say about the type. We have found it necessary to propose some additional types to the Schema.org vocabulary to describe life sciences resources. These are specified below and are expected to be pushed up to Schema.org once they have stabalised.</p>

<table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
    <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: center;">Group</th>
            <th style="text-align: center;">Task &amp; Issues</th>
        </tr>
    </thead>
    <tbody>
        {% assign type_specs = site.devTypes | where: 'spec_type', 'Type'%} {% for spec in type_specs%}
        <tr>
            <th>
                <a href="/types/drafts/{{spec.name}}/" title="{{spec.subtitle}}">{{ spec.name }}</a>
                <br />(v{{spec.version}})
                <br />{{spec.dateModified}}</th>
            <td>
                {% assign group = site.groups | where:"identifier", spec.group | first%}
                <a href="{{group.url}}">{{group.name}}</a>
            </td>
            <td class="spec_links">
                {% if spec.gh_tasks == '' %}
                <a>
                    <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
                </a>
                {% else %}
                <a href="{{spec.gh_tasks}}">
                    <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues">
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
