---
layout: default
title: Bioschemas Types
redirect_from:
 - "/devTypes/"
 - "/types/drafts/"

---
<h1>Bioschemas Types
<div class="git-edit" style="float: right;">
<a target="_blank" href="mailto:enquiries@bioschemas.org?subject=[Bioschemas] request to create a new type" class="btn btn-bioschema btn-sm" role="button">
<b>Propose a new type</b></a></div>
</h1>

<p><a href="https://schema.org/">Schema.org</a> provides a vocabulary of terms that can be used to describe data on the Internet. The Bioschemas community are extending that vocabulary to be able to describe life sciences resources. Here we host the types and properties that are being proposed to the Schema.org vocabulary.</p>

<p>Comments and discussions on the <a href="https://lists.w3.org/Archives/Public/public-bioschemas/" itemprop="email">mailing list</a> or <a href="https://github.com/Bioschemas/specifications/issues">GitHub issue tracker</a> are encouraged.</p>
<br />
{% assign dep_types = site.data.type_versions | where: 'status', 'deprecated' %}
{% assign dep_types_names = "" | split: ',' %}
{% for item in dep_types %}
	{% assign dep_types_names = dep_types_names | push: item.name %}
{% endfor %}

{% assign active_types = site.data.type_versions | where: 'status', 'active' %}
{% assign active_types_names = "" | split: ',' %}
{% for item in active_types %}
	{% assign active_types_names = active_types_names | push: item.name %}
{% endfor %}

<!-- Tab layout for different profile release status -->
<div class="bioschemas-spec-list-wrapper">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">RELEASE</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">DRAFT</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">DEPRECATED</label>



<!-- RELEASED TYPES -->
<section id="tab1Content" class="tabs">
   <h3>RELEASE</h3>
       <p><em>Released</em> types have been agreed by the community and are widely deployed.</p>
      <p>Please note that there may be a newer version in <em>draft</em> status when the community agree that a refinement is needed. Where applicable, these are linked from the release version with the label 'Latest draft'.</p>
  <table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
    <thead>
    <tr>
        <th>Name</th>
        <th style="text-align: center;">Group</th>
        <th style="text-align: center;">Task &amp; Issues</th>
    </tr>
    </thead>
    <tbody>
      {% assign prof_types = site.types | where: 'spec_type', 'Type'%}
      {% for spec in prof_types %}
      {% if active_types_names contains spec.name %}
      {% if site.data.type_versions[spec.name].latest_release != nill %}
	  {% if spec.version == site.data.type_versions[spec.name].latest_release %}
    <tr>
        <th><a href="/types/{{spec.name}}" title="{{spec.subtitle}}">{{ spec.name }}</a><br />(v{{spec.version}})<br />{{spec.dateModified}}</th>
        <td>
        {% assign group = site.groups | where:"identifier", spec.group | first %}
        <a href="{{group.url}}">{{group.name}}</a>
        </td>
        <td class="spec_links">
            {% if spec.gh_tasks == '' %}
              <a>
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
              </a>
            {% else %}
              <a href="{{spec.gh_tasks}}" target="_blank">
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues">
              </a>
            {% endif %}
        </td>
    </tr>


      {% endif %}
      {% endif %}
      {% else %}
      <p>NNN{{spec.name}}NNN</p>

      {% endif %}
      {% endfor %}


    </tbody>
  </table>
</section>

<!-- DRAFT TYPES -->
<section id="tab2Content" class="tabs">
   <h3>DRAFT</h3>
   <p><em>Draft</em> types are actively being worked on and are likely to change. Disucssions take place on the <a href="https://lists.w3.org/Archives/Public/public-bioschemas/" itemprop="email">mailing list</a> and the <a href="https://github.com/Bioschemas/specifications/issues">GitHub issue tracker</a>.</p>
   <p>Draft types are either working towards their first release or are refinements of a previously <em>released</em> version.</p>
<table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
    <thead>
    <tr>
        <th>Name</th>
        <th style="text-align: center;">Group</th>
        <th style="text-align: center;">Task &amp; Issues</th>
    </tr>
    </thead>
    <tbody>
      {% assign prof_types = site.types | where: 'spec_type', 'Type'%}
      {% for spec in prof_types %}
      {% if active_types_names contains spec.name %}

      {% if site.data.type_versions[spec.name].latest_publication != nill %}
	  {% if spec.version == site.data.type_versions[spec.name].latest_publication %}
    <tr>
        <th><a href="/types/{{spec.name}}/{{spec.version}}" title="{{spec.subtitle}}">{{ spec.name }}</a><br />(v{{spec.version}})<br />{{spec.dateModified}}</th>
        <td>
        {% assign group = site.groups | where:"identifier", spec.group | first %}
        <a href="{{group.url}}">{{group.name}}</a>
        </td>
        <td class="spec_links">
            {% if spec.gh_tasks == '' %}
              <a>
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
              </a>
            {% else %}
              <a href="{{spec.gh_tasks}}" target="_blank">
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues">
              </a>
            {% endif %}
        </td>
    </tr>


      {% endif %}
      {% endif %}
      {% else %}
      <p>NNN{{spec.name}}NNN</p>

      {% endif %}
      {% endfor %}


    </tbody>
</table>
</section>


<!-- DEPRECATED TYPES -->
<section id="tab3Content" class="tabs">
   <h3>DEPRECATED</h3>
   <p><em>Deprecated</em> means that the group developing it have suspended work; we would be delighted for you to continue it. Please email <a href="mailto:public-bioschemas@w3.org" itemprop="email">public-bioschemas@w3.org</a> to discuss.</p>
<table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center;">
    <thead>
    <tr>
        <th>Name</th>
        <th style="text-align: center;">Group</th>
        <th style="text-align: center;">Task &amp; Issues</th>
    </tr>
    </thead>
    <tbody>
      {% assign prof_types = site.types | where: 'spec_type', 'Type'%}
      {% for spec in prof_types %}
      {% if dep_types_names contains spec.name %}

      {% if site.data.type_versions[spec.name].latest_publication != nill %}
	  {% if spec.version == site.data.type_versions[spec.name].latest_publication %}
    <tr>
        <th><a href="/types/{{spec.name}}" title="{{spec.subtitle}}">{{ spec.name }}</a><br />(v{{spec.version}})<br />{{spec.dateModified}}</th>
        <td>
        {% assign group = site.groups | where:"identifier", spec.group | first %}
        <a href="{{group.url}}">{{group.name}}</a>
        </td>
        <td class="spec_links">
            {% if spec.gh_tasks == '' %}
              <a>
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
              </a>
            {% else %}
              <a href="{{spec.gh_tasks}}" target="_blank">
                <img src="/images/specs_tasks.png" alt="Bioschemas {{ spec.name }} Github Tasks or Issues">
              </a>
            {% endif %}
        </td>
    </tr>


      {% endif %}
      {% endif %}
      {% else %}
      <p>NNN{{spec.name}}NNN</p>

      {% endif %}
      {% endfor %}

    </tbody>
</table>
</section>

</div>
