---
redirect_from:
- "/TaxonName"
- "/types/TaxonName"

previous_version:
previous_release:


dateModified: 2020-06-09
description:
hierarchy:
- Thing
- CreativeWork
gh_tasks: https://github.com/BioSchemas/specifications/labels/type%3A%20Taxon
group: biodiversity
name: TaxonName
parent_type: CreativeWork
spec_type: Type
status: revision #Revert to revision when working on the next version
version: '0.1-DRAFT'

bsc: #0B794B;
pending : #0000CC;
external: #454547;

---


<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
        <div class="wrapper">
           <div id="main-content-wrapper" class="outer">
              <section id="main_content" class="inner">
                {% include type_start.html %}

              </section>
            </div>
          </div>
     </div>
     {% include footer.html %}



  </body>
</html>
