---
layout: meetings
title: Meetings
---

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <h1>Meetings</h1>

      	<p>Here you can find all the meetings involving Bioschemas community. If you wish to be involved, please have a look at the <a href="/howtojoin/">Joining Bioschemas</a> page.</p>
        <h2>Upcoming Meetings</h2>
        <ul>
          {% assign sorted_meetings = (site.meetings | sort: 'start_date') %}
          {% for meeting in sorted_meetings %}
            {% assign currentDate = site.time | date: '%F' %}
            {% assign meetingDate = meeting.start_date | date: '%F' %}
            {% assign endDate = meeting.end_date | date: '%F' %}
            {% if currentDate <= meetingDate %}
              <li itemscope itemtype="http://schema.org/Event"><strong><a href="{{ meeting.url }}"><span itemprop="name">{{ meeting.name}}</span></a></strong> <br/> {{ meeting.dates }} <br/> <span itemprop="location">{{ meeting.venue }}</span> <meta itemprop="startDate" content="{{meeting.start_date}}"/><meta itemprop="endDate" content="{{ meeting.end_date }}"/></li>
              <!-- using meta is bad -->
              <!-- google test tool wants location not as text! -->
            {% elsif meetingDate <= currentDate and currentDate <= endDate %}
              <li itemscope itemtype="http://schema.org/Event">><strong><a href="{{ meeting.url }}"><span itemprop="name">{{ meeting.name}}</span></a></strong> <br/> {{ meeting.dates }} <br/> <span itemprop="location">{{ meeting.venue }}</span> <meta itemprop="startDate" content="{{meeting.start_date}}"/><meta itemprop="endDate" content="{{ meeting.end_date }}"/></li>
              <!-- using meta is bad -->
              <!-- google test tool wants location not as text! -->
            {% endif %}
          {% endfor %}
        </ul>

        <h2>Past Meetings</h2>
        <ul>
          {% assign sorted_meetings = site.meetings | sort: 'start_date' | reverse %}
          {% for meeting in sorted_meetings %}
            {% assign currentDate = site.time | date: '%F' %}
            {% assign meetingDate = meeting.start_date | date: '%F' %}
            {% if currentDate >= meetingDate %}
            <li itemscope itemtype="http://schema.org/Event"><strong><a href="{{ meeting.url }}"><span itemprop="name">{{ meeting.name}}</span></a></strong> <br/> {{ meeting.dates }} <br/> <span itemprop="location">{{ meeting.venue }}</span> <meta itemprop="startDate" content="{{meeting.start_date}}"/><meta itemprop="endDate" content="{{ meeting.end_date }}"/></li>
            <!-- using meta is bad -->
            <!-- google test tool wants location not as text! -->
            {% endif %}
          {% endfor %}
        </ul>

    </section>
</div>
