---
layout: meetings
title: Meetings
---

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <h1>Meetings</h1>
        <h2>Upcoming Meetings</h2>
        <ul>
          {% assign sorted_meetings = (site.meetings | sort: 'start_date') %}
          {% for meeting in sorted_meetings %}
            {% assign currentDate = site.time | date: '%F' %}
            {% assign meetingDate = meeting.start_date | date: '%F' %}
            {% if currentDate <= meetingDate %}
              <li><strong>{{ meeting.name}}.</strong> <br/> {{ meeting.dates }} <br/> {{ meeting.venue }}</li>
            {% endif %}
          {% endfor %}
        </ul>

        <h2>Past Meetings</h2>
        <ul>
          {% for meeting in sorted_meetings reversed %}
            {% assign currentDate = site.time | date: '%F' %}
            {% assign meetingDate = meeting.start_date | date: '%F' %}
            {% if currentDate >= meetingDate %}
              <li><strong>{{ meeting.name}}.</strong> <br/> {{ meeting.dates }} <br/> {{ meeting.venue }}</li>
            {% endif %}
          {% endfor %}
        </ul>


    	<p>Here you can find all the meetings involving Bioschemas community. If you wish to be involved, please have a look at the <a href="/howtojoin/index.html">Joining Bioschemas</a> page.</p>

    	<table id="meetings_table">
    		<thead>
    			<tr>
    				<th>Meeting</th>
    				<th>Date</th>
    				<th>Presentations</th>
    			</tr>
    		</thead>
    		<tbody>
                <tr>
                    <td>Bioschemas TC</td>
                    <td>TBD</td>
                    <td></td>
                </tr>
                <tr>
    				<td><a href="https://docs.google.com/document/d/1vcFfrvbRcgw9La3X1My3EE-Lm4kyAqzuxCSRp3xLdvo/edit?usp=sharing">FORCE2016 searchathon</a></td>
    				<td>2016/04/17</td>
    				<td><a href="https://drive.google.com/open?id=0Bw_p-HKWUjHoUWdwUHE2VGxPNjQ">Schema.org structured data for life sciences</a></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1YZ7xoRJGlqcA3_weMUXK5UOh3Etgfc5g2OrUQZtqvws/edit#heading=h.ehmf1lf2qva4">Bioschemas TC</a></td>
    				<td>2016/03/18</td>
    				<td></td>
    			</tr>
                <tr>
                    <td>Bioschemas Webinar</td>
                    <td>2016/03/16</td>
                    <td><a href="https://drive.google.com/open?id=1vl7m6GB3wJmd72SzV_BmEx6919XkBv2sXAxf8a3fThg">Bioschemas ELIXIR Webinar</a></td>
                </tr>
                <tr>
                    <td><a href="https://docs.google.com/document/d/11A9o3tv8ES43LenQ-Tvssu1YwEnLHdxRWixn9I-0S3E/edit?usp=sharing">ELIXIR all hands metadata searching satellite</a></td>
                    <td>2016/03/10</td>
                    <td><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoSlpYM2tzTmNBNTQ/view?usp=sharing">Bioschemas</a>, <a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoYTRvVWN0T0pMTEk/view?usp=sharing">TeSS training portal</a></td>
                </tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1l3uU_FRRVkrzWmxXmDvYauw9OmXHivG3qs8wysgihB4/edit">Bioschemas TC</a></td>
    				<td>2016/02/26</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1huaVhlhkL7gi12bw1UxgWwsifZKbUmoHs29C7JSlF_Y/edit">Bioschemas TC</a></td>
    				<td>2016/02/12</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1bg16slp614KRaHmv9BcRj8lZkzaGxWM6590WZdXnXP0/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2016/02/05</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1h-pR-W-O1YKBOt9wjtqteXrHmcB_c1fIdvS1tz7xlWg/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2016/01/29</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1N5vnzoITKn3sSnu32hWSIKLpkHiVCCVACmY84nifObQ/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2016/01/22</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1Ufr7NNEfrESNnAoZQNEQINLq0Y5mFDJ1Wtxq7JRpnRU/edit?usp=sharing">Course schema.org &amp; Bioschemas TC</a></td>
    				<td>2015/12/17</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/18RMhyJVWkaHIPBF5gAEKiYqY37C-TVC4ZZj7jkECzTQ/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2015/11/27</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="http://mygoblet.org/about-us/goblet-events/goblet-agm-2015-cape-town">Talk at the GOBLET AGM</a></td>
    				<td>2015/11/19</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://www.elixir-europe.org/events/bioschemas-community-workshop">BMB Satellite Workshop</a></td>
    				<td>2015/11/19</td>
    				<td><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHodnM1RTJsQWNfWVU/view?usp=sharing">Introduction to the meeting and Bioschemas</a></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1YielxmNGjnxsaXCelxIpkPg7WX2YvkKg8ItoADZfCh4/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2015/11/13</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/14qU2qTVjCA4VH07fq1lsGKz84eAF11Q58CZUN3FZH5o/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2015/11/06</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/12GpTUPA37oMmcC0xgPZuMeaLV42wJysH6Y8XcCKwyGQ/edit?usp=sharing">Bioschemas TC</a></td>
    				<td>2015/10/30</td>
    				<td></td>
    			</tr>
    			<tr>
    				<td><a href="https://docs.google.com/document/d/1emCZmGmCC8dtGlv_YIe3QEtDjy1EdbtzHdemT_dM1I4/edit?usp=sharing">Specification Hackaton</a></td>
    				<td>2015/10/21</td>
    				<td><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoSDlSZHdpbWx2bE0/view?usp=sharing">schema.org for life sciences organizations</a></td>
    			</tr>
    		</tbody>
    	</table>

        <ul class="mobile_list">

            <li>Bioschemas TC - TBD</li>
            <li><a href="https://docs.google.com/document/d/1vcFfrvbRcgw9La3X1My3EE-Lm4kyAqzuxCSRp3xLdvo/edit?usp=sharing">FORCE2016 searchathon</a> - 2016/04/17
                <ul>
                    <li><a href="https://drive.google.com/open?id=0Bw_p-HKWUjHoUWdwUHE2VGxPNjQ">Presentation</a></li>
                </ul>
            </li>

            <li><a href="https://docs.google.com/document/d/1YZ7xoRJGlqcA3_weMUXK5UOh3Etgfc5g2OrUQZtqvws/edit#heading=h.ehmf1lf2qva4">Bioschemas TC</a> - 2016/03/18</li>
            <li>Bioschemas Webinar - 2016/03/16
                <ul>
                    <li><a href="https://drive.google.com/open?id=1vl7m6GB3wJmd72SzV_BmEx6919XkBv2sXAxf8a3fThg">Presentation</a></li>
                </ul>
            </li>
            <li><a href="https://docs.google.com/document/d/11A9o3tv8ES43LenQ-Tvssu1YwEnLHdxRWixn9I-0S3E/edit?usp=sharing">ELIXIR all hands metadata searching satellite</a> - 2016/03/10
                <ul>
                    <li><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoSlpYM2tzTmNBNTQ/view?usp=sharing">Bioschemas Presentation</a></li>
                    <li><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoYTRvVWN0T0pMTEk/view?usp=sharing">TeSS training portal Presentation</a></li>
                </ul>
            </li>
            <li><a href="https://docs.google.com/document/d/1l3uU_FRRVkrzWmxXmDvYauw9OmXHivG3qs8wysgihB4/edit">Bioschemas TC</a> - 2016/02/26</li>
            <li><a href="https://docs.google.com/document/d/1huaVhlhkL7gi12bw1UxgWwsifZKbUmoHs29C7JSlF_Y/edit">Bioschemas TC</a> - 2016/02/12</li>
            <li><a href="https://docs.google.com/document/d/1bg16slp614KRaHmv9BcRj8lZkzaGxWM6590WZdXnXP0/edit?usp=sharing">Bioschemas TC</a> - 2016/02/05</li>
            <li><a href="https://docs.google.com/document/d/1h-pR-W-O1YKBOt9wjtqteXrHmcB_c1fIdvS1tz7xlWg/edit?usp=sharing">Bioschemas TC</a> - 2016/01/29</li>
            <li><a href="https://docs.google.com/document/d/1N5vnzoITKn3sSnu32hWSIKLpkHiVCCVACmY84nifObQ/edit?usp=sharing">Bioschemas TC</a> - 2016/01/22</li>
            <li><a href="https://docs.google.com/document/d/1Ufr7NNEfrESNnAoZQNEQINLq0Y5mFDJ1Wtxq7JRpnRU/edit?usp=sharing">Course schema.org &amp; Bioschemas TC</a> - 2015/12/17</li>
            <li><a href="https://docs.google.com/document/d/18RMhyJVWkaHIPBF5gAEKiYqY37C-TVC4ZZj7jkECzTQ/edit?usp=sharing">Bioschemas TC</a> - 2015/11/27</li>
            <li><a href="http://mygoblet.org/about-us/goblet-events/goblet-agm-2015-cape-town">Talk at the GOBLET AGM</a> - 2015/11/19</li>
            <li><a href="https://www.elixir-europe.org/events/bioschemas-community-workshop">BMB Satellite Workshop</a> - 2015/11/19
                <ul>
                    <li><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHodnM1RTJsQWNfWVU/view?usp=sharing">Presentation</a></li>
                </ul>
            </li>
            <li><a href="https://docs.google.com/document/d/1YielxmNGjnxsaXCelxIpkPg7WX2YvkKg8ItoADZfCh4/edit?usp=sharing">Bioschemas TC</a> - 2015/11/13</li>
            <li><a href="https://docs.google.com/document/d/14qU2qTVjCA4VH07fq1lsGKz84eAF11Q58CZUN3FZH5o/edit?usp=sharing">Bioschemas TC</a> - 2015/11/06</li>
            <li><a href="https://docs.google.com/document/d/12GpTUPA37oMmcC0xgPZuMeaLV42wJysH6Y8XcCKwyGQ/edit?usp=sharing">Bioschemas TC</a> - 2015/10/30</li>
            <li><a href="https://docs.google.com/document/d/1emCZmGmCC8dtGlv_YIe3QEtDjy1EdbtzHdemT_dM1I4/edit?usp=sharing">Specification Hackaton</a> - 2015/10/21
                <ul>
                    <li><a href="https://drive.google.com/file/d/0Bw_p-HKWUjHoSDlSZHdpbWx2bE0/view?usp=sharing">Presentation</a></li>
                </ul>
            </li>

        </ul>

    </section>
</div>
