<!-- dont think this is used -->
<div class="trigger">
  <div class="trigger_links">
    <a href="/about/index.html" class="page-link"><div class="nav_buttons" id="nav_active">About Us</div></a>
    <a href="/howtojoin/index.html" class="page-link"><div class="nav_buttons">Joining</div></a>
    <a href="/meetings/index.html" class="page-link"><div class="nav_buttons">Meetings</div></a>
    <a href="/review/index.html" class="page-link"><div class="nav_buttons">Review</div></a>
    <a href="/examples/index.html" class="page-link"><div class="nav_buttons">Examples</div></a>
    <a href="/projects/index.html" class="page-link"><div class="nav_buttons">Projects</div></a>
  </div>

    {% include mobile_navbar.html %}

</div>
