<div class="text-center py-3 border-top border-bottom my-3">
{%- if page.previousTutorial %}
{%- assign previousTutorial = '/tutorials/' | append: page.previousTutorial.link %}
<i class="fas fa-angle-left fa-lg me-2"></i>
Previous tutorial:
<a href="{{ previousTutorial | relative_url}}">{{page.previousTutorial.title}}</a>
{%- endif %}
| <a href="/tutorials/community_tutorials">Community tutorials main page</a> |
{%- if page.nextTutorial %}
Next tutorial:
{%- assign nextTutorial = '/tutorials/' | append: page.nextTutorial.link %}
<a href="{{ nextTutorial | relative_url}}">{{ page.nextTutorial.title }}</a>
<i class="fas fa-angle-right fa-lg ms-2"></i>
{%- endif %}
</div>
