<div class="trigger">
    <div class="trigger_links">
        <a href="/index.html" class="page-link"><div class="nav_buttons">Home</div></a>
        <a href="/groups/index.html" class="page-link"><div class="nav_buttons">Groups</div></a>
        <a href="/howtojoin/index.html" class="page-link"><div class="nav_buttons">Specifications</div></a>
        <a href="/community/index.html" class="page-link"><div class="nav_buttons" id="nav_active">Community</div></a>
    </div>

    {% include mobile_navbar.html %}

</div>