
<div class="inner">
    <p><a href="#top" id="top_link">Top &#9650;</a></p>
</div>
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <div class="acknowledge">

        </div>
        <img class="img_bottom rotation" src="/images/square_logo2.png" alt="Bioschemas">

        <p class="p_bottom"><a href="/funders/">Funding</a> | <a href="mailto:community@bioschemas.org" itemprop="email">Hugs &amp; bugs</a></p>
        <div class="license">
            <p class="p_bottom">&copy; {{ site.time | date: '%Y' }} | This page is available under the <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License</a></p>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/scripts.js"></script>
