
<div class="inner">
    <p><a href="#top" id="top_link">Top &#9650;</a></p>
</div>
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <div class="acknowledge">

        </div>
        <img class="img_bottom rotation" src="{{ '/assets/img/square_logo2.png' | relative_url }}" alt="Bioschemas">

        <p class="p_bottom"><a href="/funders/">Funding</a> | <a href="mailto:enquiries@bioschemas.org" itemprop="email">Hugs &amp; bugs</a> | <a href="/howtojoin">Join</a></p>
        <div class="license">
            <p class="p_bottom">&copy; {{ site.time | date: '%Y' }} | This page is available under the <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License</a></p>
        </div>
    </footer>
</div>
<script src="{{'assets/js/clipboard.min.js' | relative_url }}"></script>
<script src="{{'assets/js/scripts.js' | relative_url }}"></script>

