

<div class="top_link btn btn-secondary" aria-hidden="true">
	<div class="arrow">
		<i class="fa fa-arrow-up"></i> Back to top
	</div>
</div>
<footer class="py-3 my-4 border-top">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-5 d-flex align-items-center">
            <a href="{{ '/index.html' | relative_url }}"
                class="col-md-3 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img class="w-50" src="{{ 'assets/img/square_logo2.png' | relative_url }}" alt="Bioschemas">
            </a>
            <span class="text-muted">{{ site.time | date: '%Y' }} | This page is available under the <a target="_blank"
                    href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
                    License</a></span>
        </div>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{ '/index.html' | relative_url }}" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item"><a href="{{ '/funders/' | relative_url }}" class="nav-link px-2 text-muted">Funding</a>
            </li>
            <li class="nav-item"><a href="mailto:enquiries@bioschemas.org" itemprop="email"
                    class="nav-link px-2 text-muted">Hugs &amp; bugs</a></li>
            <li class="nav-item"><a href="{{ '/howtojoin/' | relative_url }}" class="nav-link px-2 text-muted">Join</a>
            </li>
            {%- if page.spec_type != "Profile" and page.spec_type != "Type"%}
            <li class="nav-item"><a target="_blank" class="nav-link px-2 text-muted" href="https://github.com/Bioschemas/bioschemas.github.io/tree/master/{{page.path}}">
                <i class="fas fa-pencil-alt me-1"></i>Edit me
            </a></li>
            {%- endif %}
        </ul>
    </div>
</footer>

<script src="{{'assets/js/clipboard.min.js' | relative_url }}"></script>
<script src="{{'assets/js/scripts.js' | relative_url }}"></script>