<div class="inner footer_buttons">

    <div class="inner footer_links">

        <a href="#top" id="top_link"><div>Top &#9650;</div></a>

    </div>

    <div class="inner footer_links">

        <a href="/groups/index.html" id="back_groups"><div>&#9668; Groups</div></a>

    </div>

</div>

<div id="footer_wrap" class="outer">
    <footer class="inner">

        <img class="img_bottom rotation" src="/images/square_logo2.png" alt="Bioschemas">
        <p class="p_bottom">Hugs &amp; bugs: <a href="mailto:all@bioschemas.org">all@bioschemas.org</a></p>
        <p class="p_bottom">&copy; 2016</p>


    </footer>
</div>


