<a name="top"></a>

<div id="header_wrap" class="outer">
    <header class="inner">

        <a id="forkme_banner" href="https://github.com/BioSchemas">GitHub</a>
        <a id="twitter_banner" href="https://twitter.com/bioschemas">Twitter</a>

        <div class="biohex-logo">
            <a href="/">
                <img class="hexagon" src="/images/square_logo2.png" alt="Bioschemas">
            </a>
            <a href="/">
                <img class="bio-title" src="/images/name_lower.png" alt="Bioschemas">
            </a>
        </div>
        <div class="git-edit">
            <a target="_blank" href="https://github.com/BioSchemas/bioschemas.github.io/tree/master/{{page.folder}}{{page.path}}" class="btn btn-bioschema btn-sm" role="button">
                <b>Edit me&nbsp;</b>
                <i class="fas fa-pencil-alt"></i>
            </a>        
        </div>
    </header>
</div>