<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}
  			{{ page.title | prepend:'Bioschemas - ' | escape }}
  		{% else %}
  			{{ site.title | escape }}
  		{% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- Styling  -->
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link rel="icon" type="icon/png" href="{{'/images/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
  <!-- BioSchemas  -->
  {% if page.bioschemas %}
  <script type="application/ld+json">
     {{ page.bioschemas | jsonify }}
  </script>
  {% endif %}
  <!-- JavaScript  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>  
  <script src="{{ 'assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/toc.js' | relative_url }}"></script>
  <script defer src="{{'assets/js/fontawesome-all.js' | relative_url }}"></script>
</head>
