<a name="top"></a>
<header id="header_wrap" class="p-3">
    <a class="btn btn-github rounded-0 rounded-bottom shadow text-white fs-5" href="https://github.com/Bioschemas">GitHub<i class="fab fa-twitter ms-2"></i></a>
    <a class="btn btn-twitter rounded-0 rounded-bottom shadow text-white fs-5" href="https://twitter.com/bioschemas">Twitter<i class="fab fa-github ms-2"></i></a>
    <div class="biohex-logo">
        <a href="{{ '/index.html' | relative_url}}">
            <img class="hexagon" src="{{ 'images/square_logo2.png' | relative_url }}" alt="Bioschemas">
        </a>
        <a href="{{ '/index.html' | relative_url}}">
            <img class="bio-title" src="{{ 'images/name_lower.png' | relative_url }}" alt="Bioschemas">
        </a>
    </div>
</header>
