{%- for resource in liveDeploys %}
{%- if include.allSites or resource.datadump %}
<div class="accordion-item">
    <h2 class="accordion-header pt-0" id="heading{{count}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{count}}" aria-controls="collapse{{count}}">
            <div class="d-flex w-100 ">
                <div class="text-nowrap"><strong>Profiles: {{resource.profiles | size}}</strong></div>
                <div class="w-100 text-center">{{resource.name}}<a href="{{resource.url}}" target="_blank"> <i class="fas fa-external-link-alt"></i></a></div>
            </div>
        </button>
    </h2>
    <div id="collapse{{count}}" class="accordion-collapse collapse" aria-labelledby="heading{{count}}">
        <div class="accordion-body">
            {%- if resource.keywords or resource.description or resource.sitemap or resource.nodes %}
            <ul>
                {%- if resource.keywords %}
                <li><strong>Keywords:</strong>
                    {%- for keyword in resource.keywords %}
                    {%- if forloop.last %}
                    {{keyword}}
                    {%- else %}
                    {{keyword}},
                    {%- endif %}
                    {%- endfor %}
                </li>
                {%- endif %}
                {%- if resource.description %}
                <li><strong>Description:</strong> {{ resource.description }}</li>
                {%- endif %}
                {%- if resource.sitemap %}
                <li><strong>Sitemap:</strong> <a href="{{ resource.sitemap }}">{{ resource.sitemap }}</a></li>
                {%- endif %}
                {%- if resource.datadump %}
                <li><strong>DataDump:</strong> <a href="{{ resource.datadump }}">{{ resource.datadump }}</a></li>
                {%- endif %}
                {%- if resource.nodes %}
                <li><strong>Nodes:</strong>
                    {%- for node in resource.nodes %}
                    {%- if forloop.last %}
                    {{node}}
                    {%- else %}
                    {{node}},
                    {%- endif %}
                    {%- endfor %}
                </li>
                {%- endif %}
            </ul>
            {%- endif %}
            <h4>Implemented Profiles</h4>
            {%- assign sortedProfiles = resource.profiles | sort: "profileName" %}
            {%- for profile in sortedProfiles %}
            <div class="d-flex p-1 align-content-center align-items-center list-group-item-action rounded">
                <div class="w-100 py-2">
                    {%- assign profileName = '/profiles/' | append: profile.profileName %}
                    <a class="me-2" href="{{ profileName | relative_url }}">{{profile.profileName}}</a> <span class="badge bg-dark text-light me-2">v{{profile.conformsTo}}</span>
                    {%- if profile.highlight %}
                    <small class="text-muted me-2">{{profile.highlight}}</small>
                    {%- endif %}
                </div>
                {%- if profile.exampleURL != nil and profile.exampleURL != "http://" %}
                <div class="ps-1">
                    <a href="{{profile.exampleURL}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{page.exampleHoverText}}" class="btn btn-sm btn-primary" target="_blank">Page</a>
                </div>
                {%- endif %}
                {%- if profile.exampleURL != nil and profile.exampleURL != "http://" %}
                <div class="ps-1">
                    <a href="https://validator.schema.org/#url={{profile.exampleURL}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{page.schemaHoverText}}" class="btn btn-sm btn-primary" target="_blank">SMV</a>
                </div>
                {%- endif %}
                {%- if profile.exampleURL != nil and profile.exampleURL != "http://" %}
                <div class="ps-1">
                    <a href="https://swel.macs.hw.ac.uk/scraper/getRDF?url={{profile.exampleURL}}&output=jsonld" data-bs-toggle="tooltip" data-bs-placement="top" title="{{page.bmuseHoverText}}" class="btn btn-sm btn-primary" target="_blank">BMUSE</a>
                </div>
                {%- endif %}
            </div>
            {%- endfor %}
        </div>
    </div>
</div>
{%- endif %}
{%- assign count = count | plus: 1 %}
{%- endfor %}
