<div id="mobile_cont">

    <div class="mobile_nav">
        <div class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </div>

    <div id="mobile_links">
        <p><a href="/" class="link-navbar"><div class="mobile_buttons">Home</div></a></p>
        <p><a href="/howtojoin/" class="link-navbar"><div class="mobile_buttons">Join</div></a></p>
        <p><a href="/meetings/" class="link-navbar"><div class="mobile_buttons">Meetings</div></a></p>
        <p><a href="/groups/" class="link-navbar"><div class="mobile_buttons">Groups</div></a></p>
        <p><a href="/specifications/" class="link-navbar"><div class="mobile_buttons">Specifications</div></a></p>
        <p><a href="/software/" class="link-navbar"><div class="mobile_buttons">Software</div></a></p>
        <p><a href="/people/" class="link-navbar"><div class="mobile_buttons">People</div></a></p>
        <p><a href="/publications/" class="link-navbar"><div class="mobile_buttons">Publications</div></a></p>
        <p><a href="/community/" class="link-navbar"><div class="mobile_buttons">Community</div></a></p>
        <p><a href="/community/governance" class="link-navbar"><div class="mobile_buttons">Governance</div></a></p>
        <p><a href="/liveDeploys/" class="link-navbar"><div class="mobile_buttons">Live deploys</div></a></p>
    </div>

</div>
