<div id="mobile_cont">

    <div class="mobile_nav">
        <a id="hamb_menu"><img src="/images/menu-alt-512.png" alt="Menu"></a>
    </div>

    <div id="mobile_links">
        <a href="/about/index.html" class="page-link"><div class="mobile_buttons">About Us</div></a>
        <a href="/groups/index.html" class="page-link"><div class="mobile_buttons">Groups</div></a>
        <a href="/howtojoin/index.html" class="page-link"><div class="mobile_buttons">Joining</div></a>
        <a href="/meetings/index.html" class="page-link"><div class="mobile_buttons">Meetings</div></a>
        <a href="/review/index.html" class="page-link"><div class="mobile_buttons">Review</div></a>
        <a href="/examples/index.html" class="page-link"><div class="mobile_buttons">Examples</div></a>
        <a href="/projects/index.html" class="page-link"><div class="mobile_buttons">Projects</div></a>
    </div>

</div>