<div id="mobile_cont">

    <div class="mobile_nav">
        <a id="hamb_menu"><img src="/images/menu-alt-512.png" alt="Menu"></a>
    </div>

    <div id="mobile_links">
        <p><a href="/" class="page-link"><div class="mobile_buttons">Home</div></a></p>
        <p><a href="/howtojoin/" class="page-link"><div class="mobile_buttons">Join</div></a></p>
        <p><a href="/meetings/" class="page-link"><div class="mobile_buttons">Meetings</div></a></p>
        <p><a href="/specifications/" class="page-link"><div class="mobile_buttons">Specifications</div></a></p>
        <p><a href="/people/" class="page-link"><div class="mobile_buttons">People</div></a></p>
        <p><a href="/publications/" class="page-link"><div class="mobile_buttons">Presentations</div></a></p>
        <p><a href="/community/" class="page-link"><div class="mobile_buttons">Community</div></a></p>
        <p><a href="/GSoC/" class="page-link"><div class="mobile_buttons">Google Summer of Code</div></a></p>
    </div>

</div>
