<!-- If you edit this file, remember to edit the mobile_navbar.html file as well -->
<div class="trigger">

    <div class="trigger_links">
        <a href="/" role="button" class="btn btn-bioschema btn-lg"><i class="fas fa-home"></i> Home</a>
        <a href="/howtojoin/" role="button" class="btn btn-bioschema btn-lg">Join</a>
        <a href="/meetings/" role="button" class="btn btn-bioschema btn-lg">Meetings</a>
        <div class="btn-group" role="group">
                <button class="btn btn-bioschema dropdown-toggle btn-lg" type="button" id="btnCommunity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specifications
                </button>
                <div class="dropdown-menu" aria-labelledby="btnCommunity">
                    <a class="dropdown-item" href="/specifications/">Current</a>
                    <a class="dropdown-item" href="/specifications/drafts">Drafts</a>
                    <a class="dropdown-item" href="/liveDeploys/">Live deploys</a>
                </div>
            </div>
        <a href="/software/" role="button" class="btn btn-bioschema btn-lg">Software</a>
        <div class="btn-group" role="group">
            <button class="btn btn-bioschema dropdown-toggle btn-lg" type="button" id="btnCommunity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
            </button>
            <div class="dropdown-menu" aria-labelledby="btnCommunity">
                <a class="dropdown-item" href="/community/">Community</a>
                <a class="dropdown-item" href="/people/">People</a>
                <a class="dropdown-item" href="/groups/">Groups</a>
                <a class="dropdown-item" href="/community/governance">Governance</a>
                <a class="dropdown-item" href="/publications/">Publications</a>
                <a class="dropdown-item" href="/funders">Funders</a>
                <a class="dropdown-item" href="/community/logos">Logos</a>
            </div>
        </div>
    </div>

    {% include mobile_navbar.html %}

</div>
