<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top" aria-label="Tenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i>Home</a></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Getting Started</a>
          <ul class="dropdown-menu" aria-labelledby="btnCommunity">
              <li><a class="dropdown-item" href="/tutorials/">Overview</a></li>
              <li><a class="dropdown-item" href="/tutorials/what_why_schema">Introduction to Schema.org</a></li>
              <li><a class="dropdown-item" href="/tutorials/markup_examples">Schema.org markup examples</a></li>
              <li><a class="dropdown-item" href="/tutorials/what_why_bioschemas">Introduction to Bioschemas</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_right_profile">Choosing a profile</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_add_markup">Adding markup</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_add_github">Adding markup to GitHub pages</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_check_deploy">Validating markup</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_check_deploy">Validating markup</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_create_new_profile">Creating a new profile</a></li>
              <li><a class="dropdown-item" href="/tutorials/howto/howto_new_profile_version">Updating a profile</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Specifications</a>
          <ul class="dropdown-menu" aria-labelledby="btnCommunity">
              <li><a class="dropdown-item" href="/profiles/">Profiles</a></li>
              <li><a class="dropdown-item" href="/types/">Types</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Deploy &amp; Develop</a>
          <ul class="dropdown-menu" aria-labelledby="btnCommunity">
              <li><a class="dropdown-item" href="http://www.macs.hw.ac.uk/SWeL/BioschemasGenerator/">Markup Generator</a></li>
              <li><a class="dropdown-item" href="/software/">Tools</a></li>
              <li><a class="dropdown-item" href="https://github.com/Bioschemas/specifications/wiki/Technical">Technical Wiki</a></li>
              <li><a class="dropdown-item" href="/liveDeploys/">Live deploys</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Community</a>
          <ul class="dropdown-menu" aria-labelledby="btnCommunity">
              <li><a class="dropdown-item" href="/community/">Overview</a></li>
              <li><a class="dropdown-item" href="/howtojoin/">Join</a></li>
              <li><a class="dropdown-item" href="/meetings/">Meetings</a></li>
              <li><a class="dropdown-item" href="/people/">People</a></li>
              <li><a class="dropdown-item" href="/groups/">Groups</a></li>
              <li><a class="dropdown-item" href="/community/champions.html">Champions</a></li>
              <li><a class="dropdown-item" href="/community/related">Related Communities</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <ul class="dropdown-menu" aria-labelledby="btnCommunity">
              <li><a class="dropdown-item" href="https://github.com/Bioschemas/governance/blob/master/governance.md">Governance</a></li>
              <li><a class="dropdown-item" href="https://github.com/Bioschemas/governance/blob/master/codeOfConduct.md">Code of Conduct</a></li>
              <li><a class="dropdown-item" href="/publications/">Publications</a></li>
              <li><a class="dropdown-item" href="/funders">Funders</a></li>
              <li><a class="dropdown-item" href="/community/logos">Logos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
