<!-- If you edit this file, remember to edit the mobile_navbar.html file as well -->
<div class="trigger">
    <div class="trigger_links">
        <a href="/" class="page-link"><div class="nav_buttons">Home</div></a>
        <a href="/howtojoin/" class="page-link"><div class="nav_buttons">Join</div></a>
        <a href="/meetings/" class="page-link"><div class="nav_buttons">Meetings</div></a>
        <a href="/specifications/" class="page-link"><div class="nav_buttons">Specifications</div></a>
        <a href="/people/" class="page-link"><div class="nav_buttons">People</div></a>
        <a href="/publications/" class="page-link"><div class="nav_buttons">Presentations</div></a>
        <a href="/community/" class="page-link"><div class="nav_buttons">Community</div></a>
        <a href="/GSoC/" class="page-link"><div class="nav_buttons">Google Summer of Code</div></a>
    </div>

    {% include mobile_navbar.html %}

</div>
