<!--
    ToDo: Remove this validation after all the specs
        are updated to the new specification_table template.
-->
{% assign version_prev = page.version %}
{% if version_prev != null%}
{% assign current_name = page.name %}
{% assign current_version = page.version %}
{% assign current_subtitle = page.subtitle %}
{% assign current_pubDate = page.dateModified %}
{% else %}
{% assign current_name = page.spec_info.title %}
{% assign current_version = page.spec_info.version %}
{% assign current_subtitle = page.spec_info.subtitle %}
{% assign current_pubDate = page.spec_info.version_date %}
{% endif %}

{% if page.status == 'release' %}
<h1>{{current_name}} Profile</h1>
{% elsif site.data.profile_versions[page.name].status == "deprecated"%}
<h1>{{current_name}} <u>DEPRECATED</u> Profile</h1>
{% else %}
<h1>{{current_name}} <u>DRAFT</u> Profile</h1>
{% endif %}
<h3><strong>Version:</strong> {{current_version}} ({{current_pubDate | date_to_long_string }})
<h2>{{current_subtitle}}</h2>
<br />
<p>If you spot any errors or omissions with this type, please file an issue in our <a href="{{page.gh_tasks}}" target="_blank">GitHub</a>.</p>
<br />
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Description</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">Contributors</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">Links</label>
<section id="tab2Content" class="tabs">
   <h3>Contributors</h3>
   {% assign group = site.groups | where:"identifier", page.group %}
   {% for g in group %}
   <p>The following people have been involved in the creation of this specification document. They are all members of the <a href="{{g.url}}">{{g.name}}</a> group.</p>
   {% endfor %}
   <h6>Group Leader(s)</h6>
   <div id="leadTable">
        {% for g in group %}
        {% for leader in g.lead %}
        {% assign lead-id = "/people/" | append: leader %}
        {% assign author = site.people | where:"id", lead-id | first %}
        {% if author.homepage or author.github_username or author.orcid %}
        <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
        {% else %}
        <p>{{ author.first-name }} {{ author.last-name }}</p>
        {% endif %}
        {% else %}
        <p>No team leaders currently specified.</p>
        {% endfor %}
        {% endfor %}
   </div>
   <h6>Other team members</h6>
   <div id="peopleTable">
        {% for g in group %}
        {% for member-name in g.members %}

        {% unless g.lead contains member-name %}

        {% assign member-id = "/people/" | append: member-name %}
        {% assign member = site.people | where:"id", member-id | first %}
        <p><a href="{{ member.url }}">{{ member.first-name }} {{ member.last-name }}</a></p>

        {% endunless %}

        {% endfor %}
        {% endfor %}
   </div>
</section>
<section id="tab1Content" class="tabs">
   <!-- Bioschemas <a href="/specifications/">specifications and types list.</a> -->
   <h3>Schema.org hierarchy</h3>
   This {{page.spec_type}} fits into the schema.org hierarchy as follows:
   <br />
   <br />
   {%for branch_name in page.hierarchy %}
   {% if branch_name == "BioChemEntity" or
     branch_name == "BioChemStructure" or
     branch_name == "BioSample" or
     branch_name == "ChemicalSubstance" or
     branch_name == "DataRecord" or
     branch_name == "DNA" or
     branch_name == "Enzyme" or
     branch_name == "Gene" or
     branch_name == "LabProtocol" or
     branch_name == "MolecularEntity" or
     branch_name == "Phenotype" or
     branch_name == "Protein" or
     branch_name == "RNA" or
     branch_name == "Sample" or
     branch_name == "SequenceAnnotation" or
     branch_name == "SequenceMatchingModel" or
     branch_name == "SequenceRange" or
     branch_name == "Study" or
     branch_name == "Taxon" or
     branch_name == "TaxonName"%}
   <a href="/{{branch_name}}/">{{branch_name}}</a>
   {% else %}
   <a href="http://schema.org/{{branch_name}}">{{branch_name}}</a>
   {% endif %}
   {%if forloop.index < page.hierarchy.size%}
   &gt;
   {%endif%}
   {%endfor%}
   {%if page.spec_type == 'Type'%}
   &gt;
   <a href="#">{{page.name}}</a>
   {%endif%}
   <h3>Description</h3>
   <!--
       ToDo: Remove this validation after all the specs
            are updated to the new specification_table template.
    -->
   {% assign description_prev = page.description %}
   {% if description_prev != null %}
   <p>{{page.description}}</p>
   {% else %}
   <p>{{page.spec_info.description}}</p>
   {% endif %}

   <h3>Latest profiles</h3>
   {% assign profile_versions = site.data.profile_versions[page.name] %}
   {% if profile_versions.latest_release != null %}
   <p>Latest release: <a href="/profiles/{{page.name}}/{{profile_versions.latest_release}}/">{{profile_versions.latest_release}}</a></p>
   {% else %}
   <p>Latest release: none</p>
   {% endif %}
   {% if profile_versions.latest_publication != null %}
   <p>Latest draft: <a href="/profiles/{{page.name}}/{{profile_versions.latest_publication}}">{{profile_versions.latest_publication}}</a></p>
   {% endif %}


   <h3>Previous profiles</h3>
   {% assign prev_version = page.previous_version %}
   {% if prev_version != null %}
   <p>Previous version: <a href="/profiles/{{page.name}}/{{page.previous_version}}">{{page.previous_version}}</a></p>
   {% else %}
   <p>Previous version: none</p>
   {% endif %}
   {% assign prev_release = page.previous_release %}
   {% if prev_release != null %}
   <p>Previous release: <a href="/profiles/{{page.name}}/{{page.previous_release}}">{{page.previous_release}}</a></p>
   {% endif %}

   <br />
</section>
<section id="tab3Content" class="tabs">
   <table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto;">
      <thead>
         <tr>
            <th>Group</th>
            <th>Use Cases</th>
            <th>Cross Walk</th>
            <th>Task &amp; Issues</th>
            <th>Examples</th>
            <th>Live Deploys</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               {% for g in group %}
               <a href="{{g.url}}">{{g.name}}</a>
               {% endfor %}
            </td>
            <td class="spec_links">
               {% if page.use_cases_url == '' or page.use_cases_url == nil %}
               <a>
               <img src="/images/use_case_spec.png" alt="View BioSchemas {{ page.name }} Use Cases"  style="filter: grayscale(100%);">
               </a>
               {%else%}
               <a href="{{page.use_cases_url}}">
               <img src="/images/use_case_spec.png" alt="View BioSchemas {{ page.name }} Use Cases">
               </a>
               {%endif%}
            </td>
            <td class="spec_links">
               {% if page.cross_walk_url == '' %}
               <a>
               <img src="/images/cross_walk.png" alt="View BioSchemas {{ page.name }} Cross Walk"  style="filter: grayscale(100%);">
               </a>
               {%else%}
               <a href="{{page.cross_walk_url}}" target="_blank">
               <img src="/images/cross_walk.png" alt="View BioSchemas {{ page.name }} Cross Walk">
               </a>
               {%endif%}
            </td>
            <td class="spec_links">
               {% if page.gh_tasks == '' %}
               <a>
               <img src="/images/specs_tasks.png" alt="BioSchemas {{ page.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
               </a>
               {% else %}
               <a href="{{page.gh_tasks}}" target="_blank">
               <img src="/images/specs_tasks.png" alt="BioSchemas {{ page.name }} Github Tasks or Issues">
               </a>
               {% endif %}
            </td>
            <td class="spec_links" target="_blank">
               {% if page.spec_info.full_example == '' %}
               <a>
               <img src="/images/spec_examples.png" alt="View BioSchemas {{ page.name }} Examples" style="filter: grayscale(100%);">
               </a>
               {% else %}
               <a href="{{page.spec_info.full_example}}" target="_blank">
               <img src="/images/spec_examples.png" alt="View BioSchemas {{ page.name }} Examples">
               </a>
               {% endif %}
            </td>
            <td class="spec_links">
               {% if page.live_deploy == '' %}
               <a>
               <img src="/images/live_deploy.png" alt="View BioSchemas {{ page.name }} Examples" style="filter: grayscale(100%);">
               </a>
               {% else %}
               <a href="{{page.live_deploy}}">
               <img src="/images/live_deploy.png" alt="View BioSchemas {{ page.name }} Examples">
               </a>
               {% endif %}
            </td>
         </tr>
      </tbody>
   </table>
   <br />
   {% if page.name != 'Organization' and page.name != 'Person' and page.name != 'Chemical' and page.name != 'ChemicalStructure' and page.name != 'Course' and page.name != 'Standard' %}
   {% if page.status == 'release' %}
   <p>You can read the <a href="/specifications/drafts/{{page.name}}/">draft version of this specification here</a>.</p>
   {% elsif page.status == 'revision' %}
   <p>You can read the <a href="/specifications/{{page.name}}">release version of this specification here</a>.</p>
   {% endif %}
   {% endif %}
</section>
<br />
<hr />
<br />
<h5>Key to specification table</h5>
<br />
<p>Schema.org properties where the Expected Types have been changed, or new (i.e., Bioschemas created) properties/types are <em style="color: #0B794B;"><strong>green</strong></em>.</p>
<p>Schema.org properties/types are <em style="color: #990000;"><strong>red</strong></em>.</p>
<p>Pending Schema.org properties/types are <em style="color: #0000CC;"><strong>blue</strong></em>.</p>
<p>External (i.e., from 3rd party ontology) properties/types are <em style="color: #454547;"><strong>black</strong></em>.</p>
<br />
<p>CD = Cardinality</p>
<br />
<!-- change number columns based on device -->
<script type="application/x-javascript">
   if(navigator.userAgent.match(/android/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/phone/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/tablet/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/ipad/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else {
       document.getElementById('peopleTable').style.columnCount = 4;
       document.getElementById('leadTable').style.columnCount = 4;
   }
</script>
