      <tr>
          {% assign date_time = spec.spec_info.version_date %}
          {%- assign profileName = '/profiles/' | append: spec.name | append:'/' | append: spec.spec_info.version %}
          <th><a href="{{ profileName | relative_url }}" title="{{ spec.spec_info.subtitle }}">{{ spec.spec_info.title }}</a><br />(v{{spec.spec_info.version}})<br />{{ date_time | date_to_long_string }}

            {% if site.data.profile_versions[spec.name].status == "deprecated" %}
          	  <br/>
              Deprecated on: {{site.data.profile_versions[spec.name].deprecated_date }}<br/>
                {% if site.data.profile_versions[spec.name].superseded_by %}
                  {%- assign supersededProfile = '/profiles/' | append: site.data.profile_versions[spec.name].superseded_by | append:'/'  %}
                  superseded by: <a href="{{ supersededProfile | relative_url}}" title="{{site.data.profile_versions[spec.name].superseded_by}}">{{site.data.profile_versions[spec.name].superseded_by}}</a>
                {% endif %}
          	{% endif %}

          </th>
          <td>
            {% assign group = site.groups | where:"identifier", spec.group %}
            {% for g in group %}
            <a href="{{g.url | relative_url}}">{{g.name}}</a>
            {% endfor %}
          </td>
          <td class="spec_links">
            {% if spec.use_cases_url == '' or spec.use_cases_url == nil %}
            <a>
            <img src="{{ '/images/use_case_spec.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Use Cases"  style="filter: grayscale(100%);">
            </a>
            {%else%}
            <a href="{{spec.use_cases_url | relative_url }}">
            <img src="{{ '/images/use_case_spec.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Use Cases">
            </a>
            {%endif%}
          </td>
          <td class="spec_links">
            {% if spec.cross_walk_url == '' %}
            <a>
            <img src="{{ '/images/cross_walk.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Cross Walk"  style="filter: grayscale(100%);">
            </a>
            {%else%}
            <a href="{{spec.cross_walk_url}}" target="_blank">
            <img src="{{ '/images/cross_walk.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Cross Walk">
            </a>
            {%endif%}
          </td>
          <td class="spec_links">
            {% if spec.gh_tasks == '' %}
            <a>
            <img src="{{ '/images/specs_tasks.png' | relative_url }}" alt="Bioschemas {{ spec.spec_info.title }} Github Tasks or Issues" style="filter: grayscale(100%);">
            </a>
            {% else %}
            <a href="{{spec.gh_tasks}}" target="_blank">
            <img src="{{ '/images/specs_tasks.png' | relative_url }}" alt="Bioschemas {{ spec.spec_info.title }} Github Tasks or Issues">
            </a>
            {% endif %}
          </td>
          <td class="spec_links">
            {% if spec.spec_info.full_example == '' %}
            <a>
            <img src="{{ '/images/spec_examples.png' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Examples" style="filter: grayscale(100%);">
            </a>
            {% else %}
            <a href="{{spec.spec_info.full_example}}" target="_blank">
            <img src="{{ '/images/spec_examples.png' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Examples">
            </a>
            {% endif %}
          </td>
          <td class="spec_links">
            {% if spec.live_deploy == '' %}
            <a>
            <img src="{{ '/images/live_deploy.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Examples" style="filter: grayscale(100%);">
            </a>
            {% else %}
            <a href="{{ '/developer' | append: spec.live_deploy | append: '#nav-profile?row=' | append: spec.name}}">
            <img src="{{ '/images/live_deploy.svg' | relative_url }}" alt="View Bioschemas {{ spec.spec_info.title }} Examples">
            </a>
            {% endif %}
          </td>
      </tr>
