
<h5>Key to specification table</h5>
<ul>
  <li><em style="color: #0B794B;"><strong>Green</strong></em> properties/types are proposed by Bioschemas, or indicate proposed changes by Bioschemas to Schema.org</li>
  <li><em style="color: #990000;"><strong>Red</strong></em> properties/types exist in the core of Schema.org</li>
  <li><em style="color: #0000CC;"><strong>Blue</strong></em> properties/types exist in the pending area of Schema.org</li>
  <li><em style="color: #454547;"><strong>Black</strong></em> properties/types are reused from external vocabularies/ontologies</li>
</ul>
{% if page.spec_type == 'Profile' %}
<p>CD = Cardinality</p>
{% endif %}
