<div class="spec-table-wrapper">
    {% if page.mapping != null %}

    {% assign mapping_examples = "" | split: "" %}

    {% for prop in page.mapping %}
    {% if prop.example != '' %}
    {% assign mapping_examples = mapping_examples | push: prop %}
    {% endif %}
    {% endfor %}

    {% unless mapping_examples.size < 1 %}
    <div class="example-button">
        <span class="tooltiptext">View all examples</span>
        <button type="button" class="btn btn-bioschema" data-toggle="modal" data-target="#all-examples-modal">Examples  <i class="fas fa-file-code"></i></button>
    </div>
    <div id="all-examples-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-large">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Examples for all properties</span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="bundle-property-examples" class="example-code">
{% highlight javascript %}{% for prop in mapping_examples %}

//Property: {{prop.property}}
{{prop.example}}
{% endfor %}{% endhighlight %}
                <button type="button" class="btn btn-primary btn-copy" data-clipboard-target="#bundle-property-examples"><i class="fas fa-copy"></i></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    {% endunless %}
    <table class="spec-prof-table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Expected Type</th>
                <th>Description</th>
                <th>CD</th>
                <th class="control-vocabulary-column">Controlled Vocabulary</th>
                <th class="example-column">Example</th>
            </tr>
        </thead>
        <tbody>
            {% assign  marginality_list = "Minimum,Recommended,Optional" | split: ',' %}
            {% for current_mg in marginality_list %}
            {% assign props_list = page.mapping | where: 'marginality', current_mg | sort: 'property' %}

            {%if props_list.size > 0%}
            <tr class="cardinality">
                <td colspan="6">
                    Marginality: <b>{{current_mg}}.</b>
                </td>
            </tr>
            {%endif%}

            {% for prop in props_list %}
            <tr>
                {% if prop.type == "bioschemas" %}
                <td class="property-column"><a href="{{prop.type_url}}" target="_blank" class="bioschema">{{prop.property}}</a></td>
                {% elsif prop.type == "schemas.org" or prop.type == "" %}
                <td class="property-column"><a href="http://schema.org/{{prop.property}}" target="_blank" class="schemaorg">{{prop.property}}</a></td>
                {% elsif prop.type == "pending" %}
                <td class="property-column"><a href="http://schema.org/{{prop.property}}" target="_blank" class="pending">{{prop.property}}</a></td>
                {% else %}
                <td class="property-column"><a href="{{prop.type_url}}" target="_blank" class="external">{{prop.property}}</a></td>
                {% endif %}
                <td>
                    {% for temp_exp_type in prop.expected_types %}
                    {% assign expected_type_type = temp_exp_type | split: ':' %}
                    {% if temp_exp_type == "BioChemEntity" or
                      temp_exp_type == "BioChemStructure" or
                      temp_exp_type == "BioSample" or
                      temp_exp_type == "ChemicalSubstance" or
                      temp_exp_type == "DataRecord" or
                      temp_exp_type == "DNA" or
                      temp_exp_type == "Enzyme" or
                      temp_exp_type == "Gene" or
                      temp_exp_type == "LabProtocol" or
                      temp_exp_type == "MolecularEntity" or
                      temp_exp_type == "Phenotype" or
                      temp_exp_type == "Protein" or
                      temp_exp_type == "RNA" or
                      temp_exp_type == "Sample" or
                      temp_exp_type == "SequenceAnnotation" or
                      temp_exp_type == "SequenceMatchingModel" or
                      temp_exp_type == "SequenceRange" or
                      temp_exp_type == "Study" or
                      temp_exp_type == "Taxon" or
                      temp_exp_type == "TaxonName" %}
                    <a href="/{{temp_exp_type}}/" class="bioschema" target="_blank">{{temp_exp_type}}</a><br>
                    {% elsif expected_type_type[0] == "bioschemas" %}
                    <a href="/{{expected_type_type[1]}}" class="bioschema" target="_blank">{{expected_type_type[1]}}</a><br>
                    {% else %}
                    <a href="http://schema.org/{{temp_exp_type}}" target="_blank">{{temp_exp_type}}</a><br>
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="description-column">
                    {% unless prop.description == "" %}
                    <strong>Schema: </strong>{{prop.description | markdownify }}<br />
                    {% endunless %}
                    {% unless prop.bsc_description == "" %}
                    <strong>Bioschemas: </strong>{{prop.bsc_description | markdownify }}
                    {% endunless %}
                </td>
                <td>{{prop.cardinality}}</td>
                <td class="control-vocabulary-column">{{prop.controlled_vocab | markdownify }}</td>
                <td class="example-column">
                    <!-- Example modal starts here -->
                    {% unless prop.example == "" %}
                    <div class="example-button">
                        <span class="tooltiptext">View <strong>&#8810{{prop.property}}&#8811</strong> example</span>
                        <button type="button" class="btn btn-bioschema" data-toggle="modal" data-target="#myModal{{prop.property}}"><i class="fas fa-file-code"></i></button>
                    </div>
                    <!-- Modal -->
                    <div id="myModal{{prop.property}}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-large">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">Property <strong>&#8810{{prop.property}}&#8811</strong> example</span>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="{{current_mg}}-example-num-{{forloop.index}}" class="example-code">
                                {% highlight javascript %}{{prop.example}}{% endhighlight %}
                                <button type="button" class="btn btn-primary btn-copy" data-clipboard-target="#{{current_mg}}-example-num-{{forloop.index}}"><i class="fas fa-copy"></i></button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endunless %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <span class="alert alert-warning" role="alert">Mapping in progress.</span>
    {% endif %}
 </div>
