{%- if page.previousTutorial %}
{%- assign previousTutorial = '/tutorials/' | append: page.previousTutorial.link %}
<div class="text-center py-3 border-top border-bottom">
<i class="fas fa-angle-left fa-lg me-2"></i>
Previous tutorial:
<a href="{{ previousTutorial | relative_url}}">{{page.previousTutorial.title}}</a>
{%- endif %}
{%- if page.previousTutorial and page.nextTutorial %}
|
{%- else %}
</div>
{%- endif %}
{%- if page.nextTutorial %}
{%- unless page.previousTutorial %}
<div class="text-center py-3 border-top border-bottom">
{%- endunless %}
Next tutorial:
{%- assign nextTutorial = '/tutorials/' | append: page.nextTutorial.link %}
<a href="{{ nextTutorial | relative_url}}">{{ page.nextTutorial.title }}</a>
<i class="fas fa-angle-right fa-lg ms-2"></i>
</div>
{%- endif %}
