<hr/>
{%- if page.previousTutorial %}
{%- assign previousTutorial = '/tutorials/' | append: page.previousTutorial.link %}
<div class="text-center">
&#9664;
Previous tutorial:
<a href="{{ previousTutorial | relative_url}}">{{page.previousTutorial.title}}</a>
{%- endif %}
{%- if page.previousTutorial and page.nextTutorial %}
|
{%- else %}
</div>
{%- endif %}
{%- if page.nextTutorial %}
{%- unless page.previousTutorial %}
<div class="text-center">
{%- endunless %}
Next tutorial:
{%- assign nextTutorial = '/tutorials/' | append: page.nextTutorial.link %}
<a href="{{ nextTutorial | relative_url}}">{{ page.nextTutorial.title }}</a>
&#9654;
</div>
{%- endif %}
<hr/>
