<tr class="supertype">
  <th class="supertype-name" colspan="3">
    Properties from
    {% for property in properties %}
      {% if property.id == {{type}} %}
        {% if property.isPartOf %}
          <a class="ext ext-pending" href="http://pending.schema.org/{{property.id}}">{{property.id}}</a>
        {% else %}
          <a href="http://schema.org/{{property.id}}">{{property.id}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </th>
</tr>
{% for property in properties %}
  {% for domain in property.domainIncludes %}
    {% if domain.id == {{type}} %}
    <tr>
      <td>
        {% if property.isPartOf %}
          <a class="ext ext-pending" href="http://pending.schema.org/{{property.id}}">{{property.id}}</a>
        {% else %}
          <a href="http://schema.org/{{property.id}}">{{property.id}}</a>
        {% endif %}
      </td>
      <td>
        {% assign ex_types = property.rangeIncludes | sort_natural: "id" %}
        {% for ex_type in ex_types %}
          <a href="http://schema.org/{{ex_type.id}}">{{ex_type.id}}</a>
          {% if forloop.last != true %}
            or <br/>
          {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for value in property.comment %}
          {{value.value}}
        {% endfor %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
{% endfor %}
