{% if page.status == 'release' %}
<h1>{{page.name}} Specification v. {{page.version}}</h1>
{% else %}
<h1>{{page.name}} <u>DRAFT</u> Specification v. {{page.version}}</h1>
{% endif %}
<h2>{{page.subtitle}}</h2>

<br />

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Description</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Contributors</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Links</label>



<section id="contributors" class="tabs">
<h3>Contributors</h3>
{% assign group = site.groups | where:"identifier", page.group %}
{% for g in group %}
<p>The following people have been involved in the creation of this specification document. They are all members of the <a href="{{g.url}}">{{g.name}}</a> group.</p>
{% endfor %}

<h6>Group Leader(s)</h6>
<div id="leadTable">
  {% for g in group %}
  {% for leader in g.lead %}
  {% assign lead-id = "/people/" | append: leader %}
  {% assign author = site.people | where:"id", lead-id | first %}
  {% if author.homepage or author.github_username or author.orcid %}
  <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
  {% else %}
  <p>{{ author.first-name }} {{ author.last-name }}</p>
  {% endif %}
  {% else %}
  <p>No team leaders currently specified.</p>
  {% endfor %}
  {% endfor %}
</div>
<h6>Other team members</h6>
<div id="peopleTable">
  {% assign authors = site.people | where:"groups", page.group %}
  {% for author in authors %}
  {% assign author-id = author.id | split: '/' %}
  {% for g in group %}
  {% if author.homepage or author.github_username or author.orcid %}
  {% unless g.lead contains author-id[2] %}
  <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
  {% endunless %}
  {% else %}
  {% unless g.lead contains author-id[2] %}
  <p>{{ author.first-name }} {{ author.last-name }}</p>
  {% endunless %}
  {% endif %}
  {% else %}
  <p>No team members currently specified.</p>
  {% endfor %}
  {% endfor %}
</div>
</section>

<section id="description" class="tabs">
<!-- Bioschemas <a href="/specifications/">specifications and types list.</a> -->
<h3>Description</h3>
<p>{{page.description}}</p>
<br />
<h3>Schema.org hierarchy</h3>
This is a new {{page.spec_type}} that fits into the schema.org hierarchy as follows:
<br />
<br />
{%for branch_name in page.hierarchy %}
<a href="http://schema.org/{{branch_name}}">{{branch_name}}</a>
{%if forloop.index < page.hierarchy.size%}
&gt;
{%endif%}
{%endfor%}
{%if page.spec_type == 'Type'%}
&gt;
<a href="#">{{page.name}}</a>
{%endif%}
</section>

<section id="links" class="tabs">
<table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto;">
    <thead>
    <tr>
        <th>Group</th>
        <th>Task &amp; Issues</th>
    </tr>
    </thead>
    <tbody>
<tr>
    <td>
    {% for g in group %}
    <a href="{{g.url}}">{{g.name}}</a>
    {% endfor %}
    </td>
    <td class="spec_links">
        {% if spec.gh_tasks == '' %}
          <a>
            <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
          </a>
        {% else %}
          <a href="{{spec.gh_tasks}}">
            <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues">
          </a>
        {% endif %}
    </td>
</tr>
</tbody>
</table>
<br />
{% if page.status == 'release' %}
<p>You can read the <a href="/devTypes/{{page.name}}/specification/">draft version of this specification here</a>.</p>
{% elsif page.status == 'revision' %}
<p>You can read the <a href="/types/{{page.name}}">release version of this specification here</a>.</p>
{% endif %}

</section>

<br />
<hr />
<br />
<h5>Key to specification table</h5>
<br />
<p>Schema.org properties where the Expected Types have been changed, or new (i.e., Bioschemas created) properties/types are <em style="color: #0B794B;"><strong>green</strong></em>.</p>
<p>Schema.org properties/types are <em style="color: #990000;"><strong>red</strong></em>.</p>
<p>Pending Schema.org properties/types are <em style="color: #0000CC;"><strong>blue</strong></em>.</p>
<p>External (i.e., from 3rd party ontology) properties/types are <em style="color: #454547;"><strong>black</strong></em>.</p>
<br />
<p>CD = Cardinality</p>
<br />
<!-- change number columns based on device -->
<script type="application/x-javascript">
   if(navigator.userAgent.match(/android/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/phone/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/tablet/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else if(navigator.userAgent.match(/ipad/i)) {
       document.getElementById('peopleTable').style.columnCount = 1;
       document.getElementById('leadTable').style.columnCount = 1;
   } else {
       document.getElementById('peopleTable').style.columnCount = 4;
       document.getElementById('leadTable').style.columnCount = 4;
   }
</script>
