/*******************************************************************************
Footer
*******************************************************************************/

#footer_wrap {
    /*border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;*/
    background-color: #0B794B;
    text-align: center;
    margin-top: 1em;

    .acknowledge {
        position: absolute;
    }

    .license {
        font-size: 0.7em;
    }

    a:hover {
        color: $bioschemas-medium-sea-color;
    }
}

.p_bottom a:hover {
    color: #F2F2F2;
    text-decoration: underline;
}

.footer_buttons {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: -15px;
}

.footer_links {
    position: relative;
    display: inline;
}

.img_bottom {
    float: right;
    clear: both;
    width: 45px;
    margin-left: 0.625em;
    margin-top: -0.6em;
    background-color: #fff;
    border-radius: 1.875em;
}