.live-deploys {

    td>a {
        margin-right: 3px;
    }
    .live-deploy-table {
        text-align: center;
        margin: 0 10% 0 10%;
    }
    .google-sdtt-button {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 3em;
        padding: 0.4em 0 0 0;
        margin: 0.2em;

        a {
            color: $bioschemas-steel-teal-color;
            border-bottom: initial;
            color: #fff;
        }
        .tooltiptext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            opacity: 0.8;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            width: 120px;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
            /* Use half of the width (120/2 = 60), to center the tooltip */
            position: absolute;
            z-index: 1;
        }
        &:hover .tooltiptext {
            visibility: visible;
        }
        .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 100%;
            /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }
    table {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 1em 0 2em 0;
        border: 1px solid #98A0A6;
        display: inline-block;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
        line-height: 160%;
        font-size: 100%;

        tbody th {
            text-align: left;
            vertical-align: top;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            font-size: 100%;
            border-color: #fff;
            border-width: 1em;            
        }
        th {
            border-color: #fff;
            border-width: 0.2em;
            padding-left: 5px;
            background: #C7CBCE;
            color: #3A4956;
            font-weight: bold;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 100%;
        }
        td {
            width: 100%;            
            border: 0;
            padding: 0.625em;
            min-height: 1.25em;
            vertical-align: center;
            font-size: 100%;
            display: table-cell;
            word-break: keep-all;
            position: relative;
        }
        a {
            color: $bioschemas-base-color;
            text-decoration: none;
            border-bottom: dotted 1px $bioschemas-base-color;
        }
        .profile-version {
            text-align: center;
            font-weight: bold;
        }
        .deploy-name-column {
            padding-right: 0.9em;
            padding-top: 0.625em;
            padding-left: 0.625em;
            padding-bottom: 0.625em;
        }
        .structured-data-column {
            word-break: break-word;
            width:10em;
            min-width: 10em;
        }
        .profile-row {
            text-align: center;
            font-weight: bold;
            background: #C7CBCE;
            font-size: 100%;

            >td {
                border: 0.2em solid #fff;
            }
        }
        .plus-icon {
            @include transition(0.2s, ease-in-out);
            color: $bioschemas-base-color;
            position: absolute;
            top: 0.6em;
            right: 1em;
        }
        .repo-count {
            position: absolute;
            float: left;
            font-size: 85%;
            color: $bioschemas-base-color;
        }
        p {
            color: #666;
            font-size: 85%;
            font-weight: bold;
        }
        .hidden-row {
            padding: 0 1em 0 1em;
        }
    }
    blockquote {
        font-size: 14px;
    }

    .deployment-story {
        margin-top: 1em;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 1em;
    }
}