$bioschema-property-color: #0B794B;
$schemaorg-property-color: #660000;
$pending-property-color: #0000CC;
$external-property-color: #454547;
.spec-prof-table {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 1em 0 0 0;
    border: 1px solid #98A0A6;
    border-spacing: 3px;
    display: table;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
    line-height: 160%;
    font-size: 85%;
    tbody th {
        text-align: left;
        vertical-align: top;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        font-size: 100%;
    }
    th {
        padding-left: 5px;
        background: #C7CBCE;
        color: #3A4956;
        font-weight: bold;
        display: table-cell;
        text-align: center;
        border: none;
        vertical-align: middle;
        font-size: 100%;
    }
    td {
        position: relative;
        border: 0;
        padding: 0.625em;
        min-height: 1.25em;
        max-height: 2.5em;
        vertical-align: top;
        font-size: 100%;
        display: table-cell;
        // max-width: 30em;
        word-break: keep-all;
    }
    a {
        color: $schemaorg-property-color;
        text-decoration: none;
        border-bottom: dotted 1px $schemaorg-property-color;
        &.bioschema {
            color: $bioschema-property-color;
            text-decoration: none;
            border-bottom: dotted 1px $bioschema-property-color;
        }
        &.pending {
            color: $pending-property-color;
            text-decoration: none;
            border-bottom: dotted 1px $pending-property-color;
        }
        &.external {
            color: $external-property-color;
            text-decoration: none;
            border-bottom: dotted 1px $external-property-color;
        }
    }
    .property-column {
        background: #C7CBCE;
        font-weight: bold;
    }
    .expected-type-column {
        min-width: 15em;
        word-break: break-all;
    }    
    .description-column {
        word-wrap: break-word;
        max-width: 35em;
    }
    .control-vocabulary-column {
        max-width: 10em;
    }
    .example-column {
        position: relative;
        min-width: 4em;
        text-align: center;
    }
}

.spec-table-wrapper {
    overflow-x: auto;

    .example-code {
        text-align: initial;
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        width:100%;
        pre {
            width:auto;
            padding:5px;
            border-radius: initial;
            box-shadow: none;
            background-color: #eff0f1;
            color: #242729;
            font-size: 13px;
            font-family: inherit;
            word-break: keep-all;
            white-space: pre;
            /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;
            /* Mozilla, since 1999 */
            white-space: -pre-wrap;
            /* Opera 4-6 */
            white-space: -o-pre-wrap;
            /* Opera 7 */
            word-wrap: break-word;
            /* Internet Explorer 5.5+ */
            code {
                font-family: inherit;
                background-color: initial;
                border-radius: initial;
            }
        }
    }

    .modal-large {
        margin: 2.5rem;
        max-width: initial;        
    }

    .btn-copy {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .example-button {
        position: relative;
        display: inline-block;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        border-radius: 6px;
        border: none;        
        a {
            color: $bioschemas-steel-teal-color;
            border-bottom: initial;
            color: #fff;
        }
        .tooltiptext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            opacity: 0.8;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            width: 140px;
            bottom: 115%;
            left: 50%;
            margin-left: -70px;

            position: absolute;
            z-index: 1;
        }
        &:hover .tooltiptext {
            visibility: visible;
        }
        .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 100%;
            /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    }    
}