<tr class="supertype">
     <th class="supertype-name" colspan="3">Properties from <a title="Defined in extension: bio.schema.org"  class="ext ext-bio"  href="/Protein">Protein</a></th>

</tr>

<tbody class="supertype">
  <tr typeof="rdfs:Property" resource="http://schema.org/hasBioPolymerSequence">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a title="Defined in extension: bio.schema.org"  class="ext ext-bio"  href="#hasBioPolymerSequence">hasBioPolymerSequence</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.org/Text">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Gene"><link property="domainIncludes" href="http://schema.org/Protein"></td><td class="prop-desc" property="rdfs:comment">A symbolic representation of a BioChemEnity. For example, a nucleotide sequence of a Gene or an amino acid sequence of a Protein.</td>
</tr>
{% include /types/BioChemEntity-0.8-DRAFT-Definition.html %}
