<tr class="supertype">
     <th class="supertype-name" colspan="3">Properties from <a   href="http://schema.orgThing">Thing</a> (Schema.org v10.0)</th>

</tr>
<tbody class="supertype">
  <tr typeof="rdfs:Property" resource="http://schema.org/additionalType">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgadditionalType">additionalType</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An additional type for the item, typically used for adding more specific types from external vocabularies in microdata syntax. This is a relationship between something and a class that the thing is in. In RDFa syntax, it is better to use the native RDFa syntax - the 'typeof' attribute - for multiple types. Schema.org tools may have only weaker understanding of extra types, in particular those defined externally.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/alternateName">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgalternateName">alternateName</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.orgText">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An alias for the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/description">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgdescription">description</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.orgText">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A description of the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/disambiguatingDescription">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgdisambiguatingDescription">disambiguatingDescription</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.orgText">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A sub property of description. A short description of the item used to disambiguate from other, similar items. Information from other properties (in particular, name) may be necessary for the description to be useful for disambiguation.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/identifier">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgidentifier">identifier</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/PropertyValue" /><a   href="http://schema.orgPropertyValue">PropertyValue</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.orgText">Text</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">The identifier property represents any kind of identifier for any kind of <a class="localLink" href="http://schema.org/Thing">Thing</a>, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated properties for representing many of these, either as textual strings or as URL (URI) links. See <a href="http://schema.org/docs/datamodel.html#identifierBg">background notes</a> for more details.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/image">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgimage">image</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/ImageObject" /><a   href="http://schema.orgImageObject">ImageObject</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">An image of the item. This can be a <a class="localLink" href="http://schema.org/URL">URL</a> or a fully described <a class="localLink" href="http://schema.org/ImageObject">ImageObject</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/mainEntityOfPage">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgmainEntityOfPage">mainEntityOfPage</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/CreativeWork" /><a   href="http://schema.orgCreativeWork">CreativeWork</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">Indicates a page (or other CreativeWork) for which this thing is the main entity being described. See <a href="http://schema.org/docs/datamodel.html#mainEntityBackground">background notes</a> for details.<br/> Inverse property: <a   href="http://schema.orgmainEntity">mainEntity</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/name">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgname">name</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Text" /><a   href="http://schema.orgText">Text</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">The name of the item.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/potentialAction">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgpotentialAction">potentialAction</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/Action" /><a   href="http://schema.orgAction">Action</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">Indicates a potential Action, which describes an idealized action in which this thing would play an 'object' role.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/sameAs">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgsameAs">sameAs</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/subjectOf">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgsubjectOf">subjectOf</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/CreativeWork" /><a   href="http://schema.orgCreativeWork">CreativeWork</a>&nbsp; or <br/> <link  property="rangeIncludes" href="http://schema.org/Event" /><a   href="http://schema.orgEvent">Event</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">A CreativeWork or Event about this Thing.<br/> Inverse property: <a   href="http://schema.orgabout">about</a>.</td></tr><tr typeof="rdfs:Property" resource="http://schema.org/url">

      <th class="prop-nam" scope="row">

<code property="rdfs:label"><a   href="http://schema.orgurl">url</a></code>
    </th>
 <td class="prop-ect">
<link  property="rangeIncludes" href="http://schema.org/URL" /><a   href="http://schema.orgURL">URL</a>&nbsp;<link property="domainIncludes" href="http://schema.org/Thing"></td><td class="prop-desc" property="rdfs:comment">URL of the item.</td></tr>
