---
layout: groups
title: Groups
permalink: /groups/
---

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <h1>Groups</h1>

        <p>Different groups are working on different topics in Bioschemas; you can view details and full specifications for each group using the following links:</p>

        <h2>Active Groups</h2>
        <table id="groups_table">
          <thead>
            <tr>
              <th>Group</th>
              <th>Lead</th>
              <th>Tasks/Issues</th>
              <th>Shared Folder</th>
            </tr>
          </thead>
          <tbody>
            {% for group in site.groups %}
            {% if group.active %}
              <tr>
                {% if group.type == 'generic' %}
                  <td style="background-color: #F0FFF0">
                {% elsif group.type == 'biological' %}
                  <td style="background-color: #E0FFFF">
                {% else %}
                  <td style="background-color: ##FFFFF0">
                {% endif %}
                {{ group.name }}
                <!-- <a href="{{ group.path }}">{{ group.name }}</a></td> -->
                <td>{{ group.lead }}</td>
                <td class="gitlink">
                  <a href="{{ group.issues }}"  title="{{ group.name }} Issues" target="_blank">
                    <img src="https://raw.githubusercontent.com/BioSchemas/bioschemas/master/images/icon-link.png" alt="link">
                  </a>
                </td>
                <td class="gitlink">
                  {% unless group.folder == null %}
                  <a href="{{ group.folder }}" title="{{ group.name }} Shared Folder" target="_blank">
                    <img src="https://raw.githubusercontent.com/BioSchemas/bioschemas/master/images/icon-link.png" alt="link">
                  </a>
                  {% endunless %}
                </td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>

        <h2>Past Groups</h2>
        <table id="past_groups_table">
          <thead>
            <tr>
              <th>Group</th>
              <th>Lead</th>
              <th>Tasks/Issues</th>
              <th>Shared Folder</th>
            </tr>
          </thead>
          <tbody>
            {% for group in site.groups %}
            {% unless group.active %}
              <tr>
                {% if group.type == 'generic' %}
                  <td style="background-color: #F0FFF0">
                {% elsif group.type == 'biological' %}
                  <td style="background-color: #E0FFFF">
                {% else %}
                  <td style="background-color: ##FFFFF0">
                {% endif %}
                <a href="{{ group.url }}">{{ group.name }}</a>
                <td>{{ group.lead }}</td>
                <td class="gitlink">
                  <a href="{{ group.issues }}"  title="{{ group.name }} Issues" target="_blank">
                    <img src="https://raw.githubusercontent.com/BioSchemas/bioschemas/master/images/icon-link.png" alt="link">
                  </a>
                </td>
                <td class="gitlink">
                  {% unless group.folder == null %}
                  <a href="{{ group.folder }}" title="{{ group.name }} Shared Folder" target="_blank">
                    <img src="https://raw.githubusercontent.com/BioSchemas/bioschemas/master/images/icon-link.png" alt="link">
                  </a>
                  {% endunless %}
                </td>
              </tr>
            {% endunless %}
            {% endfor %}
          </tbody>
        </table>

        <a name="join_a_group"></a>

        <p><span style="background-color: #F0FFF0; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Groups working on generic types for life sciences (e.g.: Event)</p>
        <p><span style="background-color: #E0FFFF; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Groups working on biological types (e.g.: Protein)</p>
        <p><span style="background-color: #FFFFF0; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Others</p>

        <h2>Join a group</h2>

        <p>To join Bioschemas please provide us with a Google account, a GitHub username and let us know which groups you would like to join by filling in
            <a href="https://goo.gl/forms/lB5vMqnaiWnZbbTv1" title="Contributors Form" target="_blank">this form</a>, and we will add your data to the
            <a href="https://docs.google.com/spreadsheets/d/1-if3pyudtXXBNktAGv5Ile-ha7hSp1rqZpvb6LwQzbU/" title="Contributors Spreadsheet">contributors spreadsheet</a>. We will subscribe you to group mailing lists, invite you to the GitHub Bioschemas organization and give you access to the shared folders.</p>

        <h2>Create a new group</h2>

        <p>If you are interested in proposing a new group please create a <a href="https://github.com/BioSchemas/bioschemas/issues/new" title="Create New Issue" target="_blank">new issue</a> in GitHub with information about the group proposal including goal, purpose, expected products (i.e. specification), and people or projects you would like to involve. New group proposals will be brought to the community meeting organized once every month. In the community meeting we can review the information provided and agree on creating new groups.</p>

        <h2>Communication Channels</h2>

        <h3>Regular monthly meetings</h3>

        <p>We recommend each Bioschemas group proposes regular meetings taking into account the availability of group members. Ideally the chair(s) of each group should announce meetings dates and make the minutes available in the <a href="https://github.com/BioSchemas/bioschemas/wiki/Meetings-and-minutes" title="Meetings" target="_blank">Meetings wiki page</a>.</p>

        <h3>Issue Tracker</h3>

        <p>We use the <a href="https://github.com/BioSchemas/bioschemas/issues" title="Bioschemas Issues" target="_blank">GitHub issue tracker</a> to discuss ideas, issues and tasks related to Bioschemas.</p>

        <h3>Mailing Lists</h3>

        <p>We try to maintain one mailing list per group and a general mailing list (<a href="mailto:all@bioschemas.org" title="Bioschemas General mailing list">all@bioschemas.org</a>), to which we subscribe everyone participating in Bioschemas. Mailing lists are open and accessible via Google Groups. We try to use the mailing list to send group members relevant information, but we prefer to keep discussions of ideas, issues and tasks in the <a href="https://github.com/BioSchemas/bioschemas/issues" title="Bioschemas Issues" target="_blank">GitHub issue tracker</a>.</p>

        <h3>Shared Folders</h3>

        <p>We use <a href="https://drive.google.com/drive/u/1/folders/0B8yXU9SkT3ftaWJtTGYyTTJjck0" title="Bioschemas Google Drive" target="_blank">Google Drive</a> to share presentations, collaborative edit specifications and store any relevant file for our groups.</p>

        <h3>GitHub</h3>

        <p>We use the <a href="https://github.com/BioSchemas/bioschemas.github.io/" title="Bioschemas Website GitHub" target="_blank">bioschemas.github.io</a> repository for the content of our website and the <a href="https://github.com/BioSchemas/bioschemas" title="Bioschemas Main GitHub" target="_blank">main Bioschemas</a> repository to create tasks as well as rising ideas, issues, opportunities. We do also use the
            <a href="https://github.com/BioSchemas/bioschemas/wiki" title="GitHub Wiki" target="_blank">GitHub Wiki</a> section to keep few dynamic pages like meetings or projects.</p>



	</section>
</div>
