// Bioschemas Customized button
.btn-bioschema {
    color: #ffffff;
    background-color: #0B794B;
    border: none;
}
.btn-bioschema:hover,
.btn-bioschema:focus,
.btn-bioschema:active,
.btn-bioschema.active,
.open .dropdown-toggle.btn-bioschema {
    color: #ffffff;
    background-color: #2BB673;
}
.btn-bioschema:active,
.btn-bioschema.active,
.open .dropdown-toggle.btn-bioschema {
    background-image: none;
}
.btn-bioschema.disabled,
.btn-bioschema[disabled],
fieldset[disabled] .btn-bioschema,
.btn-bioschema.disabled:hover,
.btn-bioschema[disabled]:hover,
fieldset[disabled] .btn-bioschema:hover,
.btn-bioschema.disabled:focus,
.btn-bioschema[disabled]:focus,
fieldset[disabled] .btn-bioschema:focus,
.btn-bioschema.disabled:active,
.btn-bioschema[disabled]:active,
fieldset[disabled] .btn-bioschema:active,
.btn-bioschema.disabled.active,
.btn-bioschema[disabled].active,
fieldset[disabled] .btn-bioschema.active {
    background-color: #0B794B;
}
.btn-bioschema .badge {
    color: #0B794B;
    background-color: #ffffff;
}


#main-content-wrapper {
    background: #fefefe;
    padding-left: 4.6em;
    padding-right: 1.25em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}