#landing {
    .right-column {

        section {
            margin: 0 0 2em 0;
            &.upcoming-events {
                .event {
                    background-color: #ffffff;
                    margin: 0 0 1em 0;
                    font-size: 0.80em;
                    padding: 1em 0.5em 0.5em 0.5em;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    .title {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .right-column section.upcoming-events .event {
        font-size: 1em !important;
    }
}