
/*******************************************************************************
Tabs at top of profile
*******************************************************************************/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.tabs {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    min-height: 300px;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #555;
    border: 1px solid transparent;
}

label:before {
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+label {
    color: #2b2b2b;
    border: 1px solid #ddd;
    border-top: 2px solid $bioschemas-base-color;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#tab1Content,
#tab2:checked~#tab2Content,
#tab3:checked~#tab3Content {
    display: block;
}
