@media screen and (min-width: 701px) {
    .navbar-toggle {
        display: none;
    }
    .mobile_nav {
        display: none;
    }
    #mobile_links {
        display: none;
    }
    #mobile_list {
        display: none;
    }
    .trigger {
        background-color: #0B794B;
        width: auto;
        position: relative;
        .trigger_links {
            text-align: center;
        }
    }
    .trigger.stuck {
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: rgb(11, 121, 75);
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .inner {
        padding: 0.25em 0.26em !important;
    }
    #header_wrap {
        height: 50px;
        position: fixed;
        z-index: 90;
        background-color: $bioschemas-dark-sea-green-color !important;
        .biohex-logo {
            .hexagon {
                width: 40px;
                min-width: initial;
            }
            .bio-title {
                margin-bottom: 5px;
                width: 115px;
                min-width: initial;
            }
        }
        .git-edit {
            right: 7.5em;
            bottom: 1em;
            b {
                display: none;
            }
        }
    }
    #main-content-wrapper {
        padding-top: 50px;
        // padding-left: 1.25em;
        // padding-right: .20em;
    }
    .mobile_nav {
        background-color: initial;
        display: inline;
        img {
            height: 1.725em;
            width: 1.725em;
            float: right;
        }
        .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            display: block;
            margin-top: 7px;
            margin-right: 9px;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            .icon-bar {
                display: block;
                position: relative;
                background: #fff;
                width: 24px;
                height: 2px;
                border-radius: 1px;
                margin-bottom: 4px;
            }
            .icon-bar:nth-child(2),
            .icon-bar:nth-child(3),
            .icon-bar:nth-child(4) {
                outline: 1px solid transparent;
            }
            .icon-bar:nth-child(2) {
                top: 0px;
            }
            .icon-bar:nth-child(3) {
                opacity: 1;
            }
            .icon-bar:nth-child(4) {
                bottom: 0px;
            }
        }
    }
    .trigger {
        z-index: 500;
        top: 0;
        right: 0;
        position: fixed;
        display: flex;
        align-items: center;
        height: 50px;
        background-color: $bioschemas-dark-sea-green-color;
        a {
            color: #fff;
            font-size: 1.2em;
        }
    }
    .trigger-mobile {
        height: auto;
    }
    .trigger_links {
        display: none;
    }
    .spec-prof-table {
        th,
        td,
        .expected-type-column,
        .description-column,
        .control-vocabulary-column,
        .property-column {
            word-break: initial;
        }
        .description-column {
            min-width: 28em;
        }
    }
    .spec-table-wrapper {
        overflow-x: scroll;
    }
    .live-deploys .live-deploy-table {
        margin: 0 0 0 0 !important;
    }
}