.spec-prof-table {
    font-size: 90%;
    tbody th {
        text-align: left;
        vertical-align: top;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        font-size: 100%;
    }
    th {
        padding-left: 5px;
        background: $gray-200;
        color: #3A4956;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        font-size: 100%;
    }
    td {
        padding: 0.625em;
        min-height: 1.25em;
        max-height: 2.5em;
        vertical-align: top;
        font-size: 100%;
        word-break: keep-all;
    }
    a {
        color: $schemaorg-property-color;
        text-decoration: none;
        border-bottom: dotted 1px $schemaorg-property-color;
        &.bioschema {
            color: $bioschemas-base-color;
            text-decoration: none;
            border-bottom: dotted 1px $bioschemas-base-color;
        }
        &.pending {
            color: $pending-property-color;
            text-decoration: none;
            border-bottom: dotted 1px $pending-property-color;
        }
        &.external {
            color: $external-property-color;
            text-decoration: none;
            border-bottom: dotted 1px $external-property-color;
        }
    }
    .property-column {
        background: $gray-200;
        font-weight: bold;
        
        .status {
            font-style: italic;
            font-weight: normal;
        }
    }
    .expected-type-column {
        min-width: 15em;
        word-break: break-all;
    }    
    .description-column {
        word-wrap: break-word;
    }
    .control-vocabulary-column {
        max-width: 10em;
    }
    .example-column {
        min-width: 4em;
        text-align: center;
    }
}

.example-code {
    text-align: initial;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    width:100%;
    pre {
        width:auto;
        padding:5px;
        min-height: 47px;
        align-items: center;
        display: flex;
        border-radius: 0.25rem;
        background-color: #eff0f1;
        color: #242729;
        font-size: 13px;
        font-family: inherit;
        word-break: keep-all;
        white-space: pre;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        code {
            font-family: inherit;
            background-color: initial;
            border-radius: initial;
        }
    }
}

.btn-copy {
    position: absolute;
    right: 20px;
    top: 20px;
}
