---

previous_version: '0.3-RELEASE-2019_11_18'
previous_release: '0.3-RELEASE-2019_11_18'


dateModified: 2020-04-03
description: "THIS TYPE IS FOR TEST PURPOSES AND SHOULD BE REMOVED!!!"
hierarchy:
- Thing
gh_tasks: https://github.com/BioSchemas/specifications/labels/type%3A%20Taxon
group: biodiversity
name: Taxon
parent_type: Thing
spec_type: Type
status: revision #Revert to revision when working on the next version
version: '0.4-DRAFT-2020_04_03'

bsc: #0B794B;
pending: #0000CC;
external: #454547;

---


<!DOCTYPE HTML>
<html>
   {% include head.html %}

   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
        <div class="wrapper">
           <div id="main-content-wrapper" class="outer">
              <section id="main_content" class="inner">
                <h1>DELETE THIS TYPE!!!</h1>

                {% include type_start.html %}

                <table class="bioschemas_properties bsc_type">
                   <thead>
                      <tr>
                         <th>Property</th>
                         <th>Expected Type</th>
                         <th>Description</th>
                      </tr>
                   </thead>
                   <tbody>
                   </tbody>
                 </table>
               </section>
             </div>
           </div>
      </div>
      {% include footer.html %}



   </body>
</html>
