---
redirect_from:
  - "/tools/"
  - "/tools"
  - "/software/"
  - "/software"
layout: default
title: Software
description: |-
  This is a list of software that can help you generate, consume or otherwise work with [Bioschemas](/) markup.
  If you have such software and you'd like to list it here, please email us at [enquiries@bioschemas.org](mailto:enquiries@bioschemas.org).

---

<h1>Software</h1>
<p>{{page.description | markdownify}}</p>

<blockquote>
  <h6>Note:</h6>help us keep the above list updated: <a href="{{'/howtojoin/' | relative_url}}">Join</a> the community and/or create a pull
  request on the <a href="https://github.com/Bioschemas/bioschemas.github.io">bioschemas github</a> community project.
  <p></p>
</blockquote>

<!-- TABS at top of page -->
<nav class="mt-5">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {%- for type in site.data.software.applicationCategoryTypes %}
      <button class="nav-link{% if forloop.first %} active{% endif %}" id="nav-{{type}}s-tab" data-bs-toggle="tab" data-bs-target="#nav-{{type}}s" type="button" role="tab" aria-controls="nav-{{type}}s" aria-selected="true">{{type | capitalize }}s</button>
    {%- endfor %}
  </div>
</nav>

<div class="tab-content pb-3 mb-3" id="nav-tabContent">
  {%- for type in site.data.software.applicationCategoryTypes %}
  <div class="tab-pane fade border-bottom border-start border-end rounded p-4{% if forloop.first %} show active{% endif %}" id="nav-{{type}}s" role="tabpanel" aria-labelledby="nav-{{type}}s-tab">
    {%- for tool in site.data.software.tools %}
    {%- if tool.applicationCategory == type %}
    <div id="{{tool.id}}" class="rounded bg-white p-4 mb-4 shadow">
      <h2>{{tool.name}}</h2>
      {%- if tool.thumbnailUrl  %}
      <a href="{{tool.url}}"><img align="right"
          alt="{{tool.summary}}" src="{{ tool.thumbnailUrl | relative_url }}"
          width="500" class="img-fluid"></a>
      {%- endif %}
      <p>{{tool.summary | markdownify }}</p>
      <h4>Description</h4>
      {{tool.description | markdownify}}
      <h4>People</h4>
      <ul>
        {%- for person in tool.people %}
        <li>{{person | markdownify}}</li>
        {%- endfor %}
      </ul>
      <h4>Links</h4>
      <ul>
        {%- for link in tool.links %}
        <li>{{link | markdownify}}</li>
        {%- endfor %}
      </ul>
    </div>
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endfor %}
</div>

