---
layout: default
title: BioSchemas Specifications
---

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">


        <h1>Bioschemas Specifications</h1>

        <p>This page contains release versions of the Bioschemas specifications. Ongoing changes are published via the <a href="/specifications/drafts">drafts</a> page.</p>

        <h2>Profiles</h2>

        <p>The Bioschemas' profiles define a community agreed layer over the Schema.org model providing additional constraints. These constraints capture (i) the minimal information properties agreed by the community which are mandatory (M), recommended (R), or optional (O), (ii) the cardinality of the property, i.e. whether it is expected to occur once or many times, and (iii) associated controlled vocabulary terms drawn from existing ontologies. </p>

        <table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short description</th>
                <th>Spec.</th>
                <th>Use Cases</th>
                <th>Task &amp; Issues</th>
                <th>Examples</th>
            </tr>
            </thead>
            <tbody>
            {% assign type_specs = site.specifications | where: 'spec_type', 'Profile'%}
            {% for spec in type_specs %}
            <tr>
                <th>{{ spec.name }} (v{{spec.version}})</th>
                <td>{{ spec.subtitle }}</td>
                <td class="spec_links">
                  {% if spec.hierarchy %}
                    <a target="_blank" href="{{ spec.url}}">
                  {% else %}
                    <a target="_blank" href="{{ spec.spec_doc }}">
                  {% endif %}
                        <img src="/images/bsc_spec.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
                <td class="spec_links">
                    {% if spec.use_cases_url=='err_404'%}
                    <a>
                        <img src="/images/use_case_spec.png" alt="View BioSchemas {{ spec.name }} Use Cases"  style="filter: grayscale(100%);">
                    </a>
                    {%else%}
                    <a href="{{spec.use_cases_url}}">
                        <img src="/images/use_case_spec.png" alt="View BioSchemas {{ spec.name }} Use Cases">
                    </a>
                    {%endif%}
                </td>
                <td class="spec_links">
                    <a href="{{spec.gh_tasks}}">
                        <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues">
                    </a>
                </td>
                <td class="spec_links">
                    <a href="{{spec.gh_examples}}">
                        <img src="/images/spec_examples.png" alt="View BioSchemas {{ spec.name }} Examples">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Types</h2>
        <p>We have found it necessary to propose some additional types to the Schema.org vocabulary. These are specified below and are expected to be pushed up to Schema.org once they have stabalised.</p>

        <table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short description</th>
                <th>Type spec.</th>
            </tr>
            </thead>
            <tbody>
            {% assign prof_specs = site.specifications | where: 'spec_type', 'Type'%}
            {% for spec in  prof_specs%}
            <tr>
                <th>{{spec.name}} (v{{ spec.version }})</th>
                <td>{{ spec.subtitle }}</td>
                <td class="spec_links" style="text-align: center;">
                    <a href="{{ spec.url}}">
                        <img src="/images/bsc_spec.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
