---
layout: new_specs
title: BioSchemas Specifications
---

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">


        <h1>Bioschemas Specifications</h1>


        <h2>Profiles</h2>
        <p>[Profile Description]</p>

        <table class="bioschemas_spec_list">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short description</th>
                <th>Version</th>
                <th>Group</th>
                <th>Spec.</th>
                <th>Folder</th>
                <th>Mapping</th>
                <th>Use Cases</th>
                <th>Task & Issues</th>
                <th>Examples</th>
            </tr>
            </thead>
            <tbody>
            {% assign type_specs = site.bsc_specs | where: 'spec_type', 'Profile'%}
            {% for spec in type_specs %}
            <tr>
                <th>{{spec.name}}</th>
                <td>{{ spec.subtitle }}</td>
                <td>{{ spec.version }}</td>
                <td class="spec_links">
                    <a target="_blank" href="../groups/{{spec.name }}" alt="BioSchemas {{ spec.name }} Group">
                        <img src="/images/spec_group.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{ spec.url}}">
                        <img src="/images/bsc_spec.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{spec.gh_folder}}">
                        <img src="/images/spec_gh_folder.png" alt="View BioSchemas {{ spec.name }} GitHub Folder">
                    </a>
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{ spec.spec_mapping_url}}">
                        <img src="/images/gsheets_icon.png" alt="BioSchemas {{ spec.name }} Mapping">
                    </a>
                </td>
                <td class="spec_links">
                    {% if spec.use_cases_url=='err_404'%}
                    <a target="_blank">
                        <img src="/images/use_case_spec.png" alt="View BioSchemas {{ spec.name }} Use Cases"  style="filter: grayscale(100%);">
                    </a>
                    {%else%}
                    <a target="_blank" href="{{spec.use_cases_url}}">
                        <img src="/images/use_case_spec.png" alt="View BioSchemas {{ spec.name }} Use Cases">
                    </a>
                    {%endif%}
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{spec.gh_tasks}}">
                        <img src="/images/specs_tasks.png" alt="BioSchemas {{ spec.name }} Github Tasks or Issues">
                    </a>
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{spec.gh_examples}}">
                        <img src="/images/spec_examples.png" alt="View BioSchemas {{ spec.name }} Examples">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Types</h2>
        <p>[Type description]</p>

        <table class="bioschemas_spec_list">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short description</th>
                <th>Version</th>
                <th>Group</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% assign prof_specs = site.bsc_specs | where: 'spec_type', 'Type'%}
            {% for spec in  prof_specs%}
            <tr>
                <th>{{spec.name}}</th>
                <td>{{ spec.subtitle }}</td>
                <td>{{ spec.version }}</td>
                <td class="spec_links">
                    <a target="_blank" href="../groups/{{spec.name }}" alt="BioSchemas {{ spec.name }} Group">
                        <img src="/images/spec_group.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
                <td class="spec_links">
                    <a target="_blank" href="{{ spec.url}}">
                        <img src="/images/bsc_spec.png" alt="BioSchemas {{ spec.name }} Specification">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>