---
cross_walk_url: ''
dateModified: 2018-02-25
description: This profile specification presents the BioChemEntity usage when describing a Protein annotation.
gh_examples: ''
gh_tasks: https://github.com/BioSchemas/bioschemas/labels/type%3A%20ProteinAnnotation
group: proteins
hierarchy:
- Thing
- BioChemEntity
live_deploy: ''
name: ProteinAnnotation
parent_type: BioChemEntity
spec_type: Profile
status: revision
subtitle: Bioschemas specification describing a Protein annotation (BioChemEntity profile) in Life Sciences
use_cases_url: /useCases/Proteins/
version: '0.4-draft.1'

bsc: #0B794B;
pending: #0000CC;
external: #454547;
---


<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main_content_wrap" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  <table class="bioschemas_properties bsc_type">
                     <thead>
                        <tr>
                           <th>Property</th>
                           <th>Expected Type</th>
                           <th>Description</th>
                           <th>CD</th>
                           <th>Controlled Vocabulary</th>
                        </tr>
                     </thead>
                     <tbody>
                       <tr class="cardinality">
                          <td colspan="5">
                             Marginality: <b>Minimum</b>
                          </td>
                       </tr>

                       <tr id="additionalType">
                         <th><a href="http://schema.org/additionalType">additionalType</a></th>
                         <td>
                           <a href="http://schema.org/URL">URL</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: An additional type for the item, typically used for adding more specific types from external vocabularies in microdata syntax.
                           This is a relationship between something and a class that the thing is in. In RDFa syntax, it is better to use the native RDFa syntax -
                           the 'typeof' attribute - for multiple types. Schema.org tools may have only weaker understanding of extra types, in particular those
                           defined externally. <br />
                           <strong>Bioschemas</strong>:  Should be set to any of the values listed in the Controlled Vocabulary.<br />
                         </td>
                         <td>MANY</td>
                         <td>
                           <a style="color:  #454547;" href="http://semanticscience.org/resource/SIO_010041.rdf">SIO:active_site</a><br />
                           <a style="color:  #454547;" href="http://semanticscience.org/resource/SIO_010040.rdf">SIO:binding_site</a><br />
                           <a style="color:  #454547;" href="http://semanticscience.org/resource/SIO_010049.rdf">SIO:molecular_site</a><br />
                           <a style="color:  #454547;" href="http://semanticscience.org/resource/SIO_001379.rdf">SIO:protein_domain</a><br />
                           <a style="color:  #454547;" href="http://semanticscience.org/resource/SIO_001380.rdf">SIO:protein_family</a><br />
                         </td>
                       </tr>
                       <tr>
                          <th><a href="http://schema.org/identifier">identifier</a></th>
                          <td>
                            <a href="http://schema.org/PropertyValue">PropertyValue</a><br /><a href="http://schema.org/Text">Text</a><br /><a href="http://schema.org/URL">URL</a>
                          </td>
                          <td>
                            <strong>Schema</strong>: The identifier property represents any kind of identifier for any kind of Thing, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides
                            dedicated properties for representing many of these, either as textual strings or as URL (URI) links. See <a href="http://schema.org/docs/datamodel.html#identifierBg">background notes</a> for more details.
                          <td>ONE</td>
                          <td></td>
                       </tr>
                       <!-- <tr id="type">
                          <th><a style="color: #454547;" href="https://www.w3.org/1999/02/22-rdf-syntax-ns#type">RDF:type</a></th>
                          <td>
                            <a href="http://schema.org/URL">URL</a>
                          </td>
                          <td>
                            <strong>Bioschemas</strong>: Should have value: <a style="color: #454547;" href="http://purl.obolibrary.org/obo/PR_000000001">PR:protein</a>. Other types can be added (see <a href="#additionalType">additionalType</a>).
                          <td>ONE</td>
                          <td></td>
                       </tr> -->
                       <tr>
                         {% if status == revision %}
                         <th><a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/#preferredLabel">preferredLabel</a></th>
                         {% else %}
                         <th><a style="color: #0B794B" href="/specifications/BioChemEntity/specification/#preferredLabel">preferredLabel</a></th>
                         {% endif %}
                          <td>
                            <a href="http://schema.org/Text">Text</a>
                          </td>
                          <td>
                            <strong>Bioschemas</strong>: Indicates the preferred label to refer to a specific (sub) type of BioChemEntity. For a Protein Annotation, the value must be 'ProteinAnnotation'.<br />
                          <td>ONE</td>
                          <td></td>
                       </tr>


                       <tr class="cardinality">
                          <td colspan="5">
                             Marginality: <b>Recommended</b>
                          </td>
                       </tr>

                       <tr>
                         <th><a href="http://schema.org/alternateName">alternateName</a></th>
                         <td>
                           <a href="http://schema.org/Text">Text</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: An alias for the item.
                         </td>
                         <td>MANY</td>
                         <td></td>
                       </tr>
                       <tr id="creationMethod">
                          <th><a style="color: #0B794B;" href="#">creationMethod</a></th>
                          <td>
                            <a href="http://schema.org/PropertyValue">PropertyValue</a>
                          </td>
                          <td>
                            <strong>Bioschemas</strong>: Method used to create this annotation.
                          <td>ONE</td>
                          <td></td>
                       </tr>
                       <tr>
                          <th><a href="http://schema.org/description">description</a></th>
                          <td>
                            <a href="http://schema.org/Text">Text</a>
                          </td>
                          <td>
                            <strong>Schema</strong>: A description of the item.
                          <td>ONE</td>
                          <td></td>
                       </tr>
                       <tr>
                          <th><a href="http://schema.org/name">name</a></th>
                          <td>
                            <a href="http://schema.org/Text">Text</a>
                          </td>
                          <td>
                            <strong>Schema</strong>: The name of the item.
                          <td>ONE</td>
                          <td></td>
                       </tr>
                       <tr>
                         <th><a href="http://schema.org/url">url</a></th>
                         <td>
                           <a href="http://schema.org/URL">URL</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: URL of the item.<br />
                           <strong>Bioschemas</strong>: Link to the official webpage associated to this entity.
                         </td>
                         <td>ONE</td>
                         <td></td>
                       </tr>

                       <tr class="cardinality">
                          <td colspan="5">
                             Marginality: <b>Optional</b>
                          </td>
                       </tr>

                       <tr>
                         {% if status == revision %}
                         <th><a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/#contains">contains</a></th>
                         {% else %}
                         <th><a style="color: #0B794B" href="/specifications/BioChemEntity/specification/#contains">contains</a></th>
                         {% endif %}
                         <td>
                           {% if status == revision %}
                           <a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/">BioChemEntity</a>
                           {% else %}
                           <a style="color: #0B794B" href="/specifications/BioChemEntity/specification/#">BioChemEntity</a>
                           {% endif %}
                           <br /><a href="http://schema.org/URL">URL</a>
                         </td>
                         <td><strong>Bioschemas</strong>: Indicates a BioChemEntity that is (in some sense) a part of this BioChemEntity. <em>Inverse property: isContainedIn.</em></td>
                         <td>MANY</td>
                         <td></td>
                       </tr>
                       <tr>
                         {% if status == revision %}
                         <th><a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/#hasRepresentation">hasRepresentation</a></th>
                         {% else %}
                         <th><a style="color: #0B794B"href="/specifications/BioChemEntity/specification/#hasRepresentation">hasRepresentation</a></th>
                         {% endif %}
                         <td>
                           <a href="http://schema.org/PropertyValue">PropertyValue</a><br><a href="http://schema.org/Text">Text</a><br /><a href="http://schema.org/URL">URL</a>
                         </td>
                         <td><strong>Bioschemas</strong>: A representation for this entity other than, for instance, an image (use image property for that) or the main web page/record
                           (use mainEntityOfPage for that), and see <a href="http://schema.org/docs/datamodel.html#mainEntityBackground">background notes</a>, for sameAs and url).<br />
                           <strong>Bioschemas Protein</strong>: Representation of this entity. For instance, a chemical structure or sequence.
                         </td>
                         <td>MANY</td>
                         <td></td>
                       </tr>
                       <tr>
                          <th><a href="http://schema.org/image">image</a></th>
                          <td>
                            <a href="http://schema.org/ImageObject">ImageObject</a><br /><a href="http://schema.org/URL">URL</a>
                          </td>
                          <td>
                            <strong>Schema</strong>: An image of the item. This can be a URL or a fully described ImageObject.
                          <td>MANY</td>
                          <td></td>
                       </tr>
                       <tr>
                          {% if status == revision %}
                          <th><a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/#isContainedIn">isContainedIn</a></th>
                          {% else %}
                          <th><a style="color: #0B794B" href="/specifications/BioChemEntity/specification/#isContainedIn">isContainedIn</a></th>
                          {% endif %}
                          <td>
                            {% if status == revision %}
                            <a style="color: #0B794B" href="/devTypes/BioChemEntity/specification/">BioChemEntity</a>
                            {% else %}
                            <a style="color: #0B794B" href="/specifications/BioChemEntity/specification/">BioChemEntity</a></th>
                            {% endif %}
                            <br /><a href="http://schema.org/URL">URL</a>
                          </td>
                          <td>
                            <strong>Bioschemas</strong>: Indicates a BioChemEntity that is (in some sense) a part of this BioChemEntity. <em>Inverse property: containedIn.</em>
                          <td>MANY</td>
                          <td></td>
                       </tr>
                       <tr>
                         <th><a style="color: #0B794B" href="http://schema.org/location">location</a></th>
                         <td>
                           <a href="http://schema.org/Place">Place</a><br /><a href="http://schema.org/PostalAddress">PostalAddress</a><br />
                           <a href="http://schema.org/PropertyValue">PropertyValue</a><br /><a href="http://schema.org/Text">Text</a><br />
                           <a href="http://schema.org/URL">URL</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: The location of for example where the event is happening, an organization is located, or where an action takes place.<br/>
                           <strong>Bioschemas</strong>: The location can refer to a position in the chromosome or sequence or to a physical place where, for instance, a
                           sample is stored. <br />
                           <u><strong>Note</strong></u>: The list of Expected Types has been extended as schema.org/location only has Place, PostalAddress and Text.
                         </td>
                         <td>MANY</td>
                         <td></td>
                       </tr>
                       <tr>
                         <th><a style="color: #0B794B" href="http://schema.org/mainEntityOfPage">mainEntityOfPage</a></th>
                         <td>
                           {% if status == revision %}
                           <a style="color: #0B794B" href="/devTypes/DataRecord/specification/">DataRecord</a>
                           {% else %}
                           <a style="color: #0B794B" href="/specifications/DataRecord/specification/">DataRecord</a>
                           {% endif %}
                           <br /><a href="http://schema.org/URL">URL</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: Indicates a page (or other CreativeWork) for which this thing is the main entity being described. See
                           <a href="http://schema.org/docs/datamodel.html#mainEntityBackground">background notes</a> for details.<br />
                           <strong>Bioschemas</strong>: Link via DataRecord or <a href="http://schema.org/URL">URL</a> to the main Record representing this entity in a dataset.<br />
                           <u><strong>Note</u></strong>: Bioschemas has replaced CreativeWork with DataRecord in the Expected Types.
                         </td>
                         <td>ONE</td>
                         <td></td>
                       </tr>
                       <tr>
                         <th><a href="http://schema.org/sameAs">sameAs</a></th>
                         <td>
                           <a href="http://schema.org/URL">URL</a>
                         </td>
                         <td>
                           <strong>Schema</strong>: URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.<br />
                           <strong>Bioschemas</strong>: Link to any resource other than the Record and the official webpage, for instance a Wikipedia page.
                         </td>
                         <td>MANY</td>
                         <td></td>
                       </tr>
                     </tbody>
                  </table>
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="/js/scripts.js"></script>
   </body>
</html>
