<!DOCTYPE html>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content container">
         <div class="wrapper">
            <div class="outer">
               <section id="main_content" class="inner">
                  <h1>{{page.name}}</h1>
       
       <!-- join group button -->
        <div class="git-edit" style="float: right;">
            <a target="_blank" href="mailto:{{page.email}}?subject=[Bioschemas] request to join the {{page.name}} group&body=Please add me to the {{page.name}} group!" class="btn btn-bioschema btn-sm" role="button">
                <b>Join the group</b>
            </a>        
        </div>             
       
                  <p>{{page.abstract}}</p>
                  <table class="bioschemas_spec_list" style="width: 100%; margin-left: auto; margin-right: auto;">
                     <thead>
                        <tr>
                           <th>Folder:</th>
                           <td class="spec_links">
                              {% if page.folder %}
                              <a href="{{page.folder}}" target="_blank">
                                <img src="/images/Google_Drive_logo.png" alt="View BioSchemas {{ page.name }} Folder">
                              </a>
                              {%else%}
                              <a>
                                <img src="/images/Google_Drive_logo.png" alt="View BioSchemas {{ page.name }} Folder"  style="filter: grayscale(100%);">
                              </a>
                              {%endif%}
                           </td>
                           <th>Task &amp; Issues:</th>
                           <td class="spec_links">
                              {% if page.gh_tasks == '' %}
                              <a>
                              <img src="/images/specs_tasks.png" alt="BioSchemas {{ page.name }} Github Tasks or Issues" style="filter: grayscale(100%);">
                              </a>
                              {% else %}
                              <a href="{{page.issues}}" target="_blank">
                              <img src="/images/specs_tasks.png" alt="BioSchemas {{ page.name }} Github Tasks or Issues">
                              </a>
                              {% endif %}
                           </td>
                        </tr>
                     </thead>
                  </table>
                  <br/>
                  <h5>Objectives</h5>
                  <ol>
                     {% for obj in page.objectives %}
                     <li>{{obj}}</li>
                     {% endfor %}
                  </ol>
                  <br />
                  {% if page.specifications %}
                  <h5>Profiles</h5>
                  <ul>
                     {% for spec in page.specifications %}
                     {% assign spec-id = "/specifications/" | append: spec %}
                     {% assign profile = site.specifications | where: "name", spec | first %}
                     <li><a href="/specifications/{{spec}}">{{spec}} (version {{profile.spec_info.version}})</a></li>
                     {% endfor %}
                  </ul>
                  <br/>
                  {% endif %}
                  {% if page.types %}
                  <h5>Types</h5>
                  <ul>
                     {% for type in page.types %}
                     {% assign type-id = "/types/" | append: type %}
                     {% assign type-details = site.types | where: "name", type | first %}
                     <li><a href="/types/{{type}}">{{type}} (version {{type-details.version}})</a></li>
                     {% endfor %}
                  </ul>
                  <br/>
                  {% endif %}
                  {% if page.draft_specifications %}
                  <h5>Draft Profiles</h5>
                  <ul>
                     {% for spec in page.draft_specifications %}
                     {% assign spec-id = "/devSpecs/" | append: spec %}
                     {% assign profile = site.devSpecs | where: "name", spec | first %}
                     <li><a href="/devSpecs/{{spec}}/">{{spec}} (version {{profile.spec_info.version}})</a></li>
                     {% endfor %}
                  </ul>
                  <br/>
                  {% endif %}
                  {% if page.draft_types %}
                  <h5>Draft Types</h5>
                  <ul>
                     {% for type in page.draft_types %}
                     {% assign type-id = "/devTypes/" | append: type %}
                     {% assign type-details = site.devTypes | where: "name", type | first %}
                     <li><a href="/devTypes/{{type}}/">{{type}} (version {{type-details.version}})</a></li>
                     {% endfor %}
                  </ul>
                  <br/>
                  {% endif %}
                  <h5>Group Leaders</h5>
                  <div id="leadTable">
                     {% for leader in page.lead %}
                     {% assign lead-id = "/people/" | append: leader %}
                     {% assign author = site.people | where:"id", lead-id | first %}
                     <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
                     {% endfor %}
                  </div>
                  <br />
                  <h5>Group Members</h5>
                  <div id="peopleTable">
                    {% for member-name in page.members %}
                    {% assign member-id = "/people/" | append: member-name %}
                    {% assign member = site.people | where:"id", member-id | first %}
                    <p><a href="{{ member.url }}">{{ member.first-name }} {{ member.last-name }}</a></p>
                    {% endfor %}
                  </div>
                  {% if page.Former-Members %}
                  <br/>
                  <h5>Former Group members</h5>
                  <div id="formerPeopleTable">
                    {% for member-name in page.Former-Members %}
                    {% assign member-id = "/people/" | append: member-name %}
                    {% assign member = site.people | where:"id", member-id | first %}
                    <p><a href="{{ member.url }}">{{ member.first-name }} {{ member.last-name }}</a></p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {{ content }}
               </section>
            </div>
         </div>
      </div>
      <!-- change number columns based on device -->
      <script type="application/x-javascript">
         if(navigator.userAgent.match(/android/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('formerPeopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/phone/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('formerPeopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/tablet/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('formerPeopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/ipad/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('formerPeopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else {
             document.getElementById('peopleTable').style.columnCount = 4;
             document.getElementById('formerPeopleTable').style.columnCount = 4;
             document.getElementById('leadTable').style.columnCount = 4;
         }
      </script>
      {% include footer.html %}

   </body>
</html>
