<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}
        {% include navbar.html %}

        <div class="page-content">
            <div class="wrapper">
              <div id="main_content_wrap" class="outer">
                <section id="main_content" class="inner">
                  <h1>{{ page.name }} Group</h1>
                  <p>{{ page.abstract }}</p>

                  <h2>Purpose</h2>
                  <ul>
                    {% for item in page.objectives %}
                      <li>
                          {{ item }}
                      </li>
                    {% endfor %}

                  </ul>
                  <h2>Products</h2>

                  <ul>
                    <li><a href="{{ page.folder }}">Shared working folder</a></li>
                    <li><a href="{{ page.github }}">GitHub repository</a></li>
                    <li><a href="{{ page.issues }}">Issue tracker</a></li>
                    <li><a href="{{ page.usecase }}">Use case document</a></li>
                    <li><a href="{{ page.crosswalk }}">Crosswalk document</a></li>
                    <li>Specifications
                      <ul>
                        {% for spec-version in page.spec-versions %}
                          {% for spec in spec-version %}
                            <li>
                              <a href="{{ spec.spec-url }}">{{ spec.spec-num }}</a>
                            </li>
                          {% endfor %}
                        {% endfor %}
                      </ul>
                  </ul>

                  <h2>Membership</h2>

                  <p>The {{ page.name }} Group is open to any organization or individual willing to contribute to the goals of this group. To become a member please follow the instructions to "<a href="../index.html#join_a_group">Join a group</a>".</p>

                  <h3>Chair</h3>
                  <ul>
                    {% for lead in page.lead %}
                      {% assign lead-id = "/people/" | append: lead %}
                      {% assign author = site.people | where:"id", lead-id | first %}
                      <!-- Need to have the if statement straight after the person details otherwise you get a space before the comma -->
                      <li><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a>{% if author.affiliation %}, {{ author.affiliation }}{% endif %}</li>
                    {% endfor %}
                  </ul>
                  <h3>Members</h3>
                  <ul>
                    {% for person in site.people %}
                      {% assign member = false %}
                      {% assign lead = false %}
                      {% for lperson in page.lead %}
                        {% if person.id contains lperson %}
                          {% assign lead = true %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      {% if lead %}
                        {% continue %}
                      {% endif %}
                      {% for group in person.groups %}
                        {% assign groupid = "/groups/" | append: group %}
                        {% if page.id == groupid %}
                          {% assign member = true %}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                      {% if member %}
                        {% unless lead %}
                    <!-- Need to have the if statement straight after the person details otherwise you get a space before the comma -->
                        <li><a href="{{ person.url }}">{{ person.first-name }} {{ person.last-name }}</a>{% if person.affiliation %}, {{ person.affiliation }}{% endif %}</li>
                        {% endunless %}
                      {% endif %}
                    {% endfor %}
                  </ul>

                </section>
              </div>
            </div>
        </div>

        {% include collections_footer.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <script src="/js/scripts.js"></script>


    </body>

</html>
