<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
{% include navbar.html %}

<div class="page-content">
    <div class="wrapper">
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <h1>{{page.name}} Specification v. {{page.version}}</h1>
                <h2>{{page.subtitle}}</h2>
                <h3>{{page.spec_type}}</h3>
                {%for branch_name in page.hierarchy reversed%}
                    <a href="http://schema.org/{{branch_name}}">{{branch_name}}</a>
                    {%if forloop.index < page.hierarchy.size%}
                        >
                    {%endif%}
                {%endfor%}
                {%if page.spec_type == 'Type'%}
                >
                <a href="#">{{page.name}}</a>
                {%endif%}

                <br>

                Bioschemas <a href="../../../newSpecs">specifications and types list.</a>

                <h3>Description: </h3>
                <p>{{page.description}}</p>
                <br>

                <table class="bioschemas_properties bsc_type">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% assign new_props = (page.properties | where: 'parent', page.name | sort: 'name') %}
                        {%if new_props.size > 0%}
                            <tr class="new_props_sdo">
                                <td colspan="6">
                                    New properties for <a href="#">{{page.name}}</a> (pending schema.org integration).
                                </td>
                            </tr>
                        {%endif%}
                        {% for new_prop in new_props%}
                            <tr>
                                <th><a href="#">{{new_prop.name}}</a></th>
                                <td>
                                    {% for temp_exp_type in new_prop.expected_type %}
                                      {% if temp_exp_type == "PhysicalEntity" or temp_exp_type == "LabProtocol" or temp_exp_type == "DataRecord" or temp_exp_type == "BioChemEntity" %}
                                        <a href="http://bioschemas.org/specifications/{{temp_exp_type}}/specification/">{{temp_exp_type}}</a><br>
                                      {% else %}
                                        <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                                      {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{new_prop.sdo_desc}}<br>{{new_prop.bsc_dec}}</td>
                            </tr>
                        {% endfor%}
                        <tr>
                          <td colspan="6">&nbsp;</td>
                        </tr>
                        {% for h_type in page.hierarchy %}
                            <tr class="reu_props_sdo"><td colspan="6">Properties from <a href="http://schema.org/{{h_type}}">{{h_type}}</a></td></tr>
                            {% assign reu_props = (page.properties | where: 'parent', h_type | sort: 'name') %}
                            {% for prop  in reu_props%}
                            <tr>
                                <th><a href="http://schema.org/{{prop.name}}">{{prop.name}}</a></th>
                                <td>
                                    {% for temp_exp_type in prop.expected_type %}
                                    <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                                    {% endfor %}
                                </td>
                                <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                            </tr>
                            {% endfor %}
                            {% if forloop.last == false %}
                              <tr>
                                <td colspan="6">&nbsp;</td>
                              </tr>
                            {% endif %}
                        {% endfor%}

                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="/js/scripts.js"></script>


</body>

</html>
