<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
{% include navbar.html %}

<div class="page-content">
    <div class="wrapper">
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">


                <h1>Specification for {{page.name}} Type</h1>
                <h2>Version: {{page.version}}</h2>
                <br>

                
                <h3>Description: </h3>
                <p>{{page.description}}</p>
                <h3>List of properties</h3>
                <br>


                {% if page.reu_sdo %}
                <div class="reu_sdo">
                <h4>Reused from schema.org</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                        <th>MG</th>
                        <th>CD</th>
                        <th>Controlled Vocab.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop in page.reu_sdo%}
                    <tr>
                        <td>{{prop.name}}</td>
                        <td>{{prop.expected_type}}</td>
                        <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                        <td>{{prop.marginality}}</td>
                        <td>{{prop.cardinality}}</td>
                        <td>{{prop.controlled_vocab}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <br>
                {% endif %}


                {% if page.reu_bsc %}
                <div class="reu_bsc">
                <h4>Reused from BioSchemas</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                        <th>MG</th>
                        <th>CD</th>
                        <th>Controlled Vocab.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop in page.reu_bsc%}
                    <tr>
                        <td>{{prop.name}}</td>
                        <td>{{prop.expected_type}}</td>
                        <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                        <td>{{prop.marginality}}</td>
                        <td>{{prop.cardinality}}</td>
                        <td>{{prop.controlled_vocab}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <br>
                {% endif %}

                {% if page.new_sdo %}
                <div class="new_sdo">
                <h4>New for schema.org</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                        <th>MG</th>
                        <th>CD</th>
                        <th>Controlled Vocab.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop in page.new_sdo%}
                    <tr>
                        <td>{{prop.name}}</td>
                        <td>{{prop.expected_type}}</td>
                        <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                        <td>{{prop.marginality}}</td>
                        <td>{{prop.cardinality}}</td>
                        <td>{{prop.controlled_vocab}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <br>
                {% endif %}

                {% if page.new_bsc %}
                <div class="new_bsc">
                <h4>New for BioSchemas</h4>
                <table>
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                        <th>MG</th>
                        <th>CD</th>
                        <th>Controlled Vocab.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prop in page.new_bsc%}
                    <tr>
                        <td>{{prop.name}}</td>
                        <td>{{prop.expected_type}}</td>
                        <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                        <td>{{prop.marginality}}</td>
                        <td>{{prop.cardinality}}</td>
                        <td>{{prop.controlled_vocab}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}

            </section>
        </div>
    </div>
</div>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="/js/scripts.js"></script>


</body>

</html>
