<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
{% include navbar.html %}

<div class="page-content">
    <div class="wrapper">
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <h1>{{page.name}} Specification v. {{page.version}}</h1>
                <h2>{{page.subtitle}}</h2>
                <h3>{{page.spec_type}}</h3>
                {%if page.spec_type == 'Type'%}
                    <a href="#">{{page.name}}</a>
                    >
                {%endif%}
                {%for branch_name in page.hierarchy%}
                    <a href="http://schema.org/{{branch_name}}">{{branch_name}}</a>
                    {%if forloop.index < page.hierarchy.size%}
                        >
                    {%endif%}
                {%endfor%}

                <br>

                <h3>Description: </h3>
                <p>{{page.description}}</p>
                <br>

                <table class="">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Expected Type</th>
                        <th>Description</th>
                        <th>MG</th>
                        <th>CD</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%if page.new_props.size > 0%}
                        <tr class="new_props_sdo"><td colspan="6">New properties (pending schema.org integration)</td></tr>
                    {%endif%}
                        {% for new_prop in page.new_props%}
                            <tr>
                                <td><a href="#">{{new_prop.name}}</a></td>
                                <td>
                                    {% for temp_exp_type in new_prop.expected_type %}
                                    <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                                    {% endfor %}
                                </td>
                                <td>{{new_prop.sdo_desc}}<br>{{new_prop.bsc_dec}}</td>
                                <td>{{new_prop.marginality}}</td>
                                <td>{{new_prop.cardinality}}</td>
                                <td>
                                    {% for cv in new_prop.controlled_vocab%}
                                    {% for ontology in cv[1]%}
                                    <a href="{{ontology.url}}">{{ontology.name}}</a>
                                    {%endfor%}
                                    {% for term in cv[2]%}
                                    <a href="#">{{term}}</a>
                                    {%endfor%}
                                    {%endfor%}
                                </td>
                            </tr>
                        {% endfor%}

                        {% for parent_type in page.extended_props%}
                            <tr class="reu_props_sdo"><td colspan="6">Properties from <a href="http://schema.org/{{parent_type[0]}}">{{parent_type[0]}}</a></td></tr>
                            {% for prop in parent_type[1]%}
                            <tr>
                                <td><a href="http://schema.org/{{prop.name}}">{{prop.name}}</a></td>
                                <td>
                                    {% for temp_exp_type in prop.expected_type %}
                                    <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                                    {% endfor %}
                                </td>
                                <td>{{prop.sdo_desc}}<br>{{prop.bsc_dec}}</td>
                                <td>{{prop.marginality}}</td>
                                <td>{{prop.cardinality}}</td>
                                <td>
                                    {% for cv in prop.controlled_vocab%}
                                    {% for ontology in cv[0]%}
                                    <a href="{{ontology.url}}">{{ontology.name}}</a>
                                    {%endfor%}
                                    {% for term in cv[1]%}
                                    <a href="#">{{term}}</a>
                                    {%endfor%}
                                    {%endfor%}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor%}

                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="/js/scripts.js"></script>


</body>

</html>