<!DOCTYPE html>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  <h1>{{page.name}} Specification v. {{page.version}}</h1>
                  <h2>{{page.subtitle}}</h2>
                  <h3>Contributors</h3>
                  <p>The following people have been involved in the creation of this specification document.</p>
                  <h6>Group Leader(s)</h6>
                  <div id="leadTable">
                    {% assign group = site.groups | where:"identifier", page.group %}
                    {% for g in group %}
                    {% for leader in g.lead %}
                    {% assign lead-id = "/people/" | append: leader %}
                    {% assign author = site.people | where:"id", lead-id | first %}
                    {% if author.homepage or author.github_username or author.orcid %}
                    <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
                    {% else %}
                    <p>{{ author.first-name }} {{ author.last-name }}</p>
                    {% endif %}
                    {% else %}
                    <p>No team leaders currently specified.</p>
                    {% endfor %}
                    {% endfor %}
                  </div>
                  <h6>Other team members</h6>
                  <div id="peopleTable">
                    {% assign authors = site.people | where:"groups", page.group %}
                    {% for author in authors %}
                    {% assign author-id = author.id | split: '/' %}
                    {% for g in group %}
                    {% if author.homepage or author.github_username or author.orcid %}
                    {% unless g.lead contains author-id[2] %}
                    <p><a href="{{ author.url }}">{{ author.first-name }} {{ author.last-name }}</a></p>
                    {% endunless %}
                    {% else %}
                    {% unless g.lead contains author-id[2] %}
                    <p>{{ author.first-name }} {{ author.last-name }}</p>
                    {% endunless %}
                    {% endif %}
                    {% else %}
                    <p>No team members currently specified.</p>
                    {% endfor %}
                    {% endfor %}
                  </div>

                  <h3>{{page.spec_type}}</h3>
                  {%for branch_name in page.hierarchy reversed%}
                  <a href="http://schema.org/{{branch_name}}">{{branch_name}}</a>
                  {%if forloop.index < page.hierarchy.size%}
                  >
                  {%endif%}
                  {%endfor%}
                  {%if page.spec_type == 'Type'%}
                  >
                  <a href="#">{{page.name}}</a>
                  {%endif%}
                  <br>
                  Bioschemas <a href="/specifications/">specifications and types list.</a>
                  <h3>Description: </h3>
                  <p>{{page.description}}</p>
                  <br>
                  <table class="bioschemas_properties bsc_type">
                     <thead>
                        <tr>
                           <th>Property</th>
                           <th>Expected Type</th>
                           <th>Description</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% assign new_props = (page.properties | where: 'parent', page.name | sort: 'name') %}
                        {%if new_props.size > 0%}
                        <tr class="new_props_sdo">
                           <td colspan="6">
                              New properties for <a href="#">{{page.name}}</a> (pending schema.org integration).
                           </td>
                        </tr>
                        {%endif%}
                        {% for new_prop in new_props%}
                        <tr>
                           <th>{{new_prop.name}}</th>
                           <td>
                              {% for temp_exp_type in new_prop.expected_type %}
                              {% if temp_exp_type == "PhysicalEntity" or temp_exp_type == "LabProtocol" or temp_exp_type == "DataRecord" or temp_exp_type == "BioChemEntity" %}
                              <a href="http://bioschemas.org/specifications/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                              {% else %}
                              <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                              {% endif %}
                              {% endfor %}
                           </td>
                           <td><em><u>Schema</u>: </em>{{new_prop.sdo_desc}}<br><em><u>Bioschemas</u>: </em>{{new_prop.bsc_dec}}</td>
                        </tr>
                        {% endfor%}
                        <tr>
                           <td colspan="6">&nbsp;</td>
                        </tr>
                        {% for h_type in page.hierarchy %}
                        <tr class="reu_props_sdo">
                           <td colspan="6">Properties from <a href="http://schema.org/{{h_type}}">{{h_type}}</a></td>
                        </tr>
                        {% assign reu_props = (page.properties | where: 'parent', h_type | sort: 'name') %}
                        {% for prop  in reu_props%}
                        <tr>
                           <th><a href="http://schema.org/{{prop.name}}">{{prop.name}}</a></th>
                           <td>
                              {% for temp_exp_type in prop.expected_type %}
                              <a href="http://schema.org/{{temp_exp_type}}">{{temp_exp_type}}</a><br>
                              {% endfor %}
                           </td>
                           <td><em><u>Schema</u>: </em>{{prop.sdo_desc}}<br><em><u>Bioschemas</u>: </em>{{prop.bsc_dec}}</td>
                        </tr>
                        {% endfor %}
                        {% if forloop.last == false %}
                        <tr>
                           <td colspan="6">&nbsp;</td>
                        </tr>
                        {% endif %}
                        {% endfor%}
                     </tbody>
                  </table>
               </section>
            </div>
         </div>
      </div>
      <!-- change number columns based on device -->
      <script type="application/x-javascript">
         if(navigator.userAgent.match(/android/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/phone/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/tablet/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else if(navigator.userAgent.match(/ipad/i)) {
             document.getElementById('peopleTable').style.columnCount = 1;
             document.getElementById('leadTable').style.columnCount = 1;
         } else {
             document.getElementById('peopleTable').style.columnCount = 4;
             document.getElementById('leadTable').style.columnCount = 4;
         }
      </script>
      {% include footer.html %}
  
   </body>
</html>
