<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}
        {% include navbar.html %}

        <div class="page-content">
            <div class="wrapper">
              <div id="main_content_wrap" class="outer">
                <section id="main_content" class="inner">
                  <h1>{{ page.first-name }} {{ page.last-name }}</h1>
                  <p>{{ page.affiliation }}</p>
                  <ul>
                    <li>Home page: <a href="page.homepage">{{ page.homepage }}</a></li>
                    <li>ORCID: <a href="{{ "http://orcid.org/" | append: page.orcid }}">{{ page.orcid }}</a></li>
                    <li>GitHub: <a href="{{ "http://github.com/" | append: page.github_username }}">{{ page.github_username }}</a></li>
                  </ul>
                  <h2>Groups</h2>
                  <ul>
                    {% for grp in page.groups %}
                      {% assign group-id = "/groups/" | append: grp %}
                      {% assign group = site.groups | where:"id", group-id | first %}
                      <li>
                          <a href="{{group.url}}">{{ group.name }}</a>
                      </li>
                    {% endfor %}

                  </ul>

                </section>
              </div>
            </div>
        </div>

        {% include collections_footer.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <script src="/js/scripts.js"></script>


    </body>

</html>
