---
layout: default
---

<h1>{{ page.first-name }} {{ page.last-name }}</h1>
{% if page.affiliation %}
  <p>{{ page.affiliation }}</p>
{% endif %}
<ul>
  {% if page.homepage %}
    <li>Home page: <a href="{{ page.homepage }}">{{ page.homepage }}</a></li>
  {% endif %}
  {% if page.orcid %}
    <li>ORCID: <a href="{{ "http://orcid.org/" | append: page.orcid }}">{{ page.orcid }}</a></li>
  {% endif %}
  {% if page.github_username %}
    <li>GitHub: <a href="{{ "http://github.com/" | append: page.github_username }}">{{ page.github_username }}</a></li>
  {% endif %}
</ul>

<h2>Events</h2>
<ul>
  {% assign meetings = page.meetings %}
  {% for meeting_name in meetings %}
    {% assign meeting_detail = site.meetings | where:"name", meeting_name | first %}
    <li><a href="{{meeting_detail.url}}">{{ meeting_name }}</a> - {{meeting_detail.title}}</li>
  {% endfor %}
</ul>