---
description: A BioChemEntity is any object that exists in the physical world and
  cannot be better represented with any other existing type in schema.org.
  <br />
  BioChemEntity is a flexible and extensible wrapper for Life Sciences entities.
  <strike>Representations of physical entities in Life Sciences are usually recorded in datasets;
  the link to a dataset should be done via properties. A particular Life Sciences
  entity, refer to as a profile in Bioschemas, will customize BioChemEntity by modifying
  the marginality, cardinality and ontologies used. For instance, a protein profile
  would recommend pointing to an organism a part of the minimum information, but not
  necessarily to a sample or disease.</strike>
hierarchy:
- Thing
group: bioentities
name: BioChemEntity
parent_type: Thing
spec_type: Type
status: revision
subtitle: Bioschemas specification describing a physical entity
use_cases_url: err_404
version: '0.1'

---


<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
        <div class="wrapper">
           <div id="main_content_wrap" class="outer">
              <section id="main_content" class="inner">
                {% include type_start.html %}

                <table class="bioschemas_properties bsc_type">
                   <thead>
                      <tr>
                         <th>Property</th>
                         <th>Expected Type</th>
                         <th>Description</th>
                      </tr>
                   </thead>
                   <tbody>
                     <tr class="new_props_sdo">
                        <td colspan="3">
                           New properties for <a href="#">{{page.name}}</a> (pending schema.org integration).
                        </td>
                     </tr>
                     <tr id"conains">
                       <th>contains</th>
                       <td>
                         <a href="#">BioChemEntity</a><br><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>Bioschemas: Indicates a BioChemEntity that is (in some sense) a part of this BioChemEntity. <em>Inverse property: isContainedIn.</em></td>
                     </tr>
                     <tr>
                       <th id="hasRepresentation">hasRepresentation</th>
                       <td>
                         <a href="http://schema.org/PropertyValue">PropertyValue</a><br><a href="http://schema.org/Text">Text</a><br /><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>Bioschemas: A representation for this entity other than, for instance, an image (use image property for that) or the main web page/record
                         (use mainEntityOfPage for that), and see <a href="http://schema.org/docs/datamodel.html#mainEntityBackground">background notes</a>, for sameAs and url).
                       </td>
                     </tr>
                     <tr id="isContainedIn">
                       <th>isContainedIn</th>
                       <td>
                         <a href="#">BioChemEntity</a><br><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>Bioschemas: Indicates a BioChemEntity that is (in some sense) a part of this BioChemEntity. <em>Inverse property: containedIn.</em></td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/location">location</a></th>
                       <td>
                         <a href="http://schema.org/Place">Place</a><br /><a href="http://schema.org/PostalAddress">PostalAddress</a><br />
                         <a href="http://schema.org/PropertyValue">PropertyValue</a><br /><a href="http://schema.org/Text">Text</a><br />
                         <a href="http://schema.org/URL">URL</a>
                         <a href="#fn1" id="ref1"><sup>*1</sup></a>
                       </td>
                       <td>
                         Schema: The location of for example where the event is happening, an organization is located, or where an action takes place.<br/>
                         Bioschemas: The location can refer to a position in the chromosome or sequence or to a physical place where, for instance, a
                         sample is stored. <br />
                         <u>Note</u>: The list of Expected Types has been extended as schema.org/location only has Place, PostalAddress and Text.
                       </td>
                     </tr>
                     <tr>
                       <th>preferredLabel</th>
                       <td>
                         <a href="http://schema.org/Text">Text</a>
                       </td>
                       <td>
                         Bioschemas:  Indicates the preferred label to refer to a specific (sub)type of BioChemEntity.
                       </td>
                     </tr>
                     <tr class="reu_props_sdo">
                        <td colspan="3">Properties from <a href="http://schema.org/Thing">Thing</a></td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/additionalType">additionalType</a></th>
                       <td>
                         <a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: An additional type for the item, typically used for adding more specific types from external vocabularies in microdata syntax.
                         This is a relationship between something and a class that the thing is in. In RDFa syntax, it is better to use the native RDFa syntax -
                         the 'typeof' attribute - for multiple types. Schema.org tools may have only weaker understanding of extra types, in particular those
                         defined externally. <br />
                         Bioschemas:  As BioChemEntity is a generic wrapper for entitties in Life Sciences, customized types (a.k.a. profiles in Bioschemas)
                         should specify what ontologies and terms should be used.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/alternateName">alternateName</a></th>
                       <td>
                         <a href="http://schema.org/Text">Text</a>
                       </td>
                       <td>
                         Schema: An alias for the item.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/description">description</a></th>
                       <td>
                         <a href="http://schema.org/Text">Text</a>
                       </td>
                       <td>
                         Schema: A descripton of the item.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/disambiguatingDescription">disambiguatingDescription</a></th>
                       <td>
                         <a href="http://schema.org/Text">Text</a>
                       </td>
                       <td>
                         Schema: A sub property of description. A short description of the item used to disambiguate from other, similar items.
                         Information from other properties (in particular, name) may be necessary for the description to be useful for disambiguation.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/identifier">identifier</a></th>
                       <td>
                         <a href="http://schema.org/PropertyValue">PropertyValue</a><br /><a href="http://schema.org/Text">Text</a><br /><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: The identifier property represents any kind of identifier for any kind of <a href="http://schema.org/Thing">Thing</a>, such as ISBNs, GTIN codes, UUIDs etc.
                         Schema.org provides dedicated properties for representing many of these, either as textual strings or as URL (URI) links.
                         See <a href="http://schema.org/docs/datamodel.html#identifierBg">background notes</a> for more details.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/image">image</a></th>
                       <td>
                         <a href="http://schema.org/ImageObject">ImageObject</a><br /><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: An image of the item. This can be a <a href="http://schema.org/URL">URL</a> or a fully described <a href="http://schema.org/ImageObject">ImageObject</a>.<br />
                         Bioschemas: Link via <sup><a href="#fn2" id="ref2">Record</a></sup> or <a href="http://schema.org/URL">URL</a> to the main Record representing this entity in a dataset.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/mainEntityOfPage">mainEntityOfPage</a></th>
                       <td>
                         <a href="http://schema.org/CreativeWork">CreativeWork</a><br /><a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: Indicates a page (or other CreativeWork) for which this thing is the main entity being described. See
                         <a href="http://schema.org/docs/datamodel.html#mainEntityBackground">background notes</a> for details.<br />
                         Bioschemas: Link via <sup><a href="#fn2" id="ref2">Record</a></sup> or <a href="http://schema.org/URL">URL</a> to the main Record representing this entity in a dataset.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/name">name</a></th>
                       <td>
                         <a href="http://schema.org/Text">Text</a>
                       </td>
                       <td>
                         Schema: The name of the item.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/potentialAction">potentialAction</a></th>
                       <td>
                         <a href="http://schema.org/Action">Action</a>
                       </td>
                       <td>
                         Schema: Indicates a potential Action, which describes an idealized action in which this thing would play an 'object' role.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/sameAs">sameAs</a></th>
                       <td>
                         <a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website.
                       </td>
                     </tr>
                     <tr>
                       <th><a class="pending" style="color: blue;" href="http://pending.schema.org/subjectOf">subjectOf</a></th>
                       <td>
                         <a href="http://schema.org/CreativeWork">CreativeWork</a><br /><a href="http://schema.org/Event">Event</a>
                       </td>
                       <td>
                         Schema: A CreativeWork or Event about this Thing. <em>Inverse property: about.</em>
                         <u>Note</u>: This is a pending property.
                       </td>
                     </tr>
                     <tr>
                       <th><a href="http://schema.org/url">url</a></th>
                       <td>
                         <a href="http://schema.org/URL">URL</a>
                       </td>
                       <td>
                         Schema: URL of the item.<br />
                         Bioschemas: Link to any resource other than the Record and the official Webpage, for instance a Wikipedia page.
                       </td>
                     </tr>
                   </tbody>
                 </table>

                 <div id="notes">
                   <hr />
                   <h5>Footnotes</h5>
                   <sup id="fn1">1. The Expected Types of location have been generalised as schema.org/location only has Place, PostalAddress and Text.<a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup><br />
                   <sup id="fn2">2. Record?! As in DataRecord? Looks weird!.<a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></sup><br />
                 </div>
               </section>
             </div>
           </div>
      </div>
      {% include footer.html %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="/js/scripts.js"></script>
   </body>
</html>
