---
name: Chemical

status: revision
spec_type: Profile
group: chemicals
use_cases_url: ''
cross_walk_url: ''
gh_tasks: https://github.com/BioSchemas/bioschemas/labels/type%3A%20Chemistry
live_deploy: ''

parent_type: Thing
hierarchy:
- Thing

spec_mapping_url: https://docs.google.com/spreadsheets/d/1W67djQ6r0sgv7tdLypUtZqoCTr4mYXEoCY9iez18vrs/edit#gid=1483018794
spec_info:
  title: Chemical
  subtitle: ""
  description: ""
  version: 0.1-draft
  version_date: 20180423T161624
  official_type: ""
  full_example: ""
mapping:
- property: identifier
  expected_types:
  - PropertyValue
  - Text
  - URL
  description: The identifier property represents any kind of identifier for any kind
    of Thing, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated
    properties for representing many of these, either as textual strings or as URL
    (URI) links. See [background notes](http://schema.org/docs/datamodel.html#identifierBg)
    for more details.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Minimum
  cardinality: ONE
  controlled_vocab: ""
  example: ""
- property: name
  expected_types:
  - Text
  description: The name of the item.
  type: ""
  type_url: ""
  bsc_description: ""
  marginality: Minimum
  cardinality: ONE
  controlled_vocab: ""
  example: ""
---
<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  {% include specification_table.html %}
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>