---
redirect_from: "devSpecs/PublicationVolume/specification"
redirect_from: "devSpecs/PublicationVolume/specification/"
name: PublicationVolume

status: revision
spec_type: Profile
group: biotea
use_cases_url: https://docs.google.com/document/d/1ZhoYDIx5DP4q1L8k6DAL3EvFuEbTnD7P981Zav_ipuE
cross_walk_url: [
  https://docs.google.com/spreadsheets/d/1ecj0bzyRO3tSTyHrKtDGfBwC5bIhgRCmv3yR8ylR_G4, 
  https://drive.google.com/drive/folders/1CgEyta4d7vFfYT7r7w9HtLZ4kAidDmJI
]
gh_tasks: https://github.com/BioSchemas/bioschemas/labels/type%3A%20PublicationVolume
live_deploy: ''

parent_type: PublicationVolume
hierarchy:
- Thing
- CreativeWork
- PublicationVolume

spec_mapping_url: https://docs.google.com/spreadsheets/d/198jnxnTf6rUTPc0ZYgFkP3ZElvHylQU-Tx4LwFDHZQ0
spec_info:
  title: PublicationVolume
  subtitle: Bioschemas profile, based on Biotea model, describing a PublicationVolume in Life Sciences.
  description: A PublicationVolume is a collection of publication issues, or scholarly articles, or possibly, although no commonly, any mix from those mentioned. It is commonly part of a Journal.
  version: "0.1"
  version_date: 20190128T000000
  official_type: "schema:PublicationVolume"
  full_example: ""
mapping:

---
<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  {% include specification_table.html %}
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>
