---
redirect_from: "devSpecs/PublicationIssue/specification"
redirect_from: "devSpecs/PublicationIssue/specification/"
name: PublicationIssue

status: revision
spec_type: Profile
group: biotea
use_cases_url: https://docs.google.com/document/d/1ZhoYDIx5DP4q1L8k6DAL3EvFuEbTnD7P981Zav_ipuE
cross_walk_url: [
  https://docs.google.com/spreadsheets/d/1ecj0bzyRO3tSTyHrKtDGfBwC5bIhgRCmv3yR8ylR_G4, 
  https://drive.google.com/drive/folders/1CgEyta4d7vFfYT7r7w9HtLZ4kAidDmJI
]
gh_tasks: https://github.com/BioSchemas/bioschemas/labels/type%3A%20ScholarlyArticle
live_deploy: ''

parent_type: PublicationIssue
hierarchy:
- Thing
- CreativeWork
- PublicationIssue

spec_mapping_url: https://docs.google.com/spreadsheets/d/1Bu2Jh1AUlJQCEk909yFhb8rz5eWZOQcAQ5ClxKhTJ6M
spec_info:
  title: PublicationIssue
  subtitle: Bioschemas profile, based on Biotea model, describing a PublicationIssue in Life Sciences.
  description: A PublicationIssue is a collection of publication scholarly articles published as a collection in a publication volume or a journal
  version: "0.1"
  version_date: 20190128T000000
  official_type: ""
  full_example: ""
mapping:

---
<!DOCTYPE HTML>
<html>
   {% include head.html %}
   <body>
      {% include header.html %}
      {% include navbar.html %}
      <div class="page-content">
         <div class="wrapper">
            <div id="main-content-wrapper" class="outer">
               <section id="main_content" class="inner">
                  {% include profile_start.html %}
                  {% include specification_table.html %}
               </section>
            </div>
         </div>
      </div>
      {% include footer.html %}
   </body>
</html>
